﻿@model List<IBI.Shared.Models.BusTree.BusDetail>
@using IBI.Web.Common


@{
    Layout = null;
    }
   
 <div class="input-table" style="width:99%; text-align:left;">      
    <br />
    
    <table width="100%">
        @{foreach (var busDetail in Model)    
            {
                 <tr>
                    <td>
                        <div style="border-top:dotted 1px #ddd; margin-bottom:15px; width:100%"></div>
                        <table>
                            <tr>
                                <td style="width:60%">
                                    <h3 style="margin-left:8px;color:#41E307">
                                        Customer: @busDetail.CustomerName ( @busDetail.CustomerID )
                                    </h3>
                                    <h3 style="margin-left:8px;">
                                        Bus Number: @busDetail.BusNumber
                                    </h3>
                                    <h3 style="margin-left:8px;">
                                        Bus Alias: @busDetail.BusAlias
                                    </h3>
                                </td>
                                <td rowspan ="3">
                                @if (busDetail != null)    
                                {
                                    <table cellspacing="10" cellpadding="5"> 
                                        <tbody>
                                            <tr>
                                                <td class="title left" style="width: 150px;">Component</td>
                                                <td class="title left">Last Online</td>
                                            </tr>
                                            @foreach (IBI.Shared.Models.BusTree.BusUnitStatus client in busDetail.Clients.Where(c => c.Exists == true))
                                            { 
                                            <tr>
                                                <td>
                                                    @{var img = client.Color.ToString().Replace("_", "-").ToLower() + ".png";}
                                                    <img src="../images/bustree/@img" alt="@client.Color" title="@client.Color" /> 
                                                    &nbsp; &nbsp; &nbsp;
                                                    @client.Description
                                                </td>
                                                <td>@client.LastPing.ToString(Settings.DateTimeFormat)</td>                                         
                                            </tr>
                                            }
                                        </tbody>
                                    </table>                 
                                }
                                </td>
                            </tr>        
                            @*<tr>
                                <td>
                                    <h3 style="margin-left:8px;">
                                        Bus Alias: @busDetail.BusAlias
                                    </h3>
                                </td>
                            </tr> *@   
                            <tr>
                                <td>
                                    <table cellspacing="10" cellpadding="5" width="50%">
                                        <tbody>
                                            <tr>
                                                <td class="title left" style="width: 150px;">Component</td>
                                                <td class="title left">MAC</td>
                                            </tr>
                                            @foreach (IBI.Shared.Models.BusTree.BusUnitStatus client in busDetail.Clients.Where(c => c.MacAddress != null && c.MacAddress != ""))
                                                { 
                                                <tr>
                                                    <td> 
                                                        @client.Description
                                                    </td>
                                                    <td>@client.MacAddress</td>                                         
                                                </tr>
                                                }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        } 
     </table>
   </div>