﻿@model IBI.Web.ViewModels.BusLookup.BusLookupViewModel

@{
    ViewBag.Title = "BusLookup";
    Layout = null;
}

@section Head{

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
}


@using (Ajax.BeginForm("BusLookup", "BusLookup", new { }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvDetail", OnBegin = "beginAjaxSubmit", OnComplete = "endAjaxSubmit" }))
{

    <div class="input-table grey-box">
        <table>
            <tr>
                <td>
                    <label>Bus Number</label>
                    @Html.TextBox("busNumber", Model.BusNumber, new { @class = "short", size = 10, maxlength = "20" })
                </td>
                <td valign="bottom">
                    <input type="submit" value="Search" style="margin-top:0px;" />
                    @if (@Model.BusDetail == null && Model.BusNumber != "")
                    {
                        <div style="display: inline;" class="error">
                            Please enter a valid bus number
                        </div>
                    }

                </td>
            </tr>
        </table>
    </div>


}
<div id="dvDetail">


</div>


@using (Ajax.BeginForm("BusLookup", "BusLookup", new { }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvDetailClient", OnBegin = "beginAjaxSubmit", OnComplete = "endAjaxSubmit" }))
{
    <br /><br />
    <div class="input-table grey-box">
        <table>
            <tr>
                <td>
                    <label>Mac Address</label>
                    @Html.TextBox("macAddress", Model.MacAddress, new { size = 20, maxlength = "30" })
                </td>
                <td valign="bottom">
                    <input type="submit" value="Search" style="margin-top:0px;" />
                    @if (@Model.ClientDetail == null && Model.MacAddress != "")
                    {
                        <div style="display: inline;" class="error">
                            Please enter a valid MAC Address
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
}

<div id="dvDetailClient">



</div>


