﻿@{
    ViewBag.Title = "Mermaid IBI - Bus Lookup";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 


@section Head{
    
   <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     
    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />  
}



<h2>Bus Lookup</h2>
@{Html.RenderPartial("BusLookup", new IBI.Web.ViewModels.BusLookup.BusLookupViewModel());}

 