﻿@model  IBI.Web.ViewModels.Admin.Destinations.ImageGeneratorPager
<div style="display: table-cell;position: relative;vertical-align: middle;">
	<div class="Paging">
		<label title="Line text font">Sign:[<strong>Showing</strong>: @Html.Raw(Model.Index+1) / @Html.Raw(Model.Count) ]</label>
	</div>
    <div style="vertical-align:middle;text-align: right;">
	    <div class="PreImge" style="display: table-cell;position:relative;vertical-align: middle;padding:10px;"><a href="#"><img src="~/Images/signs/leftbigarrow.png"></a></div>
	    <div class="PagerImg" style="display: table-cell;background-color: #efefef;vertical-align: middle;text-align: center;width:550px;height:80px;"><div style="display:inline-block;position:relative;vertical-align:middle;background-color:white;width:371px;height:66px"><img  style="position:relative;top:13px" src='data:image/png;base64,@(Model.Img[Model.Index])'/></div></div>
	    <div class="NextImge" style="display: table-cell;position:relative;vertical-align: middle;padding:10px;"><a href="#"><img src="~/Images/signs/rightbigarrow.png"></a></div>
    </div>
</div>