﻿@model  IBI.Web.ViewModels.Admin.Destinations.ImageGeneratorModel
    <div style="position:relative;display:inline-block;right:-10px;width:99%">
	    <div style="display: table-cell;position: relative;vertical-align: bottom;width:18%;left: 7px;">
            <div class="Labels">
		        <label title="Line text font">Template</label>
	        </div>
		    <div class="styled-template">
                @Html.DropDownListFor(m => m.SelectedTemplate, Model.Templates)
		    </div>
	    </div>
        @Html.HiddenFor(m => m.SelectedTemplateName)
        <div id ="PPager" style="display: table-cell;position: relative;vertical-align: middle;width:60%;">
            @Html.Partial("PartialPager", Model.ImagePager)
        </div>
    </div>
    <div id="divImageSettings" style="position:relative;display:inline-block;width:99%">
        @Html.Partial("PartialImageGeneratorSettings", Model)
    </div>



