﻿@model  IBI.Web.ViewModels.Admin.Destinations.ImageGeneratorModel
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div id="imageSettings" style="position:relative;text-align:center;display:inline-block;right:-10px">
	<div style="display: table-cell;position:relative;width:206px;text-align:left; left:7px;">
		@Html.Partial("PartialImageTextSettings",Model.LineText)
	</div>
	<div style="display: table-cell;border:solid 1px black;position:relative;right:5px;"></div>
	<div style="display: table-cell;position:relative;width:206px">
        <div style="text-align:center">
		    @Html.Partial("PartialImageTextSettings",Model.MainText)
        </div>
	</div>
	<div style="display: table-cell;border:solid 1px black;position:relative;right:5px;"></div>
	<div style="display: table-cell;position:relative;width:206px">
        <div style="text-align:center">
		@Html.Partial("PartialImageTextSettings",Model.SubText)
        </div>
    </div>
	<div style="display: table-cell;border:solid 1px black;position:relative;right:5px;"></div>
	<div style="display: table-cell;position:relative;width:206px;vertical-align:top">
		@Html.Partial("PartialImageAdditionalSettings",Model.Additional)
	</div>
	<div style="display: table-cell;border:solid 1px black;position:relative;right:5px;"></div>
	<div style="display: table-cell;position:relative;vertical-align: bottom;right:-8px;;width:271px">
		<div>
			<div>
				<a href="#" id="Generate" style="text-decoration: none">
					<div class="GenerateButton Generate">Generate</div>
				</a>
			</div>
		</div>
        <div style="height:10px;"></div>
		<div>
			<div>
				<a href="#" id="ResettoDefault" style="text-decoration: none">
					<div class="DefaultButton ResettoDefault">
                        Reset to Default
					</div>
				</a>
			</div>
		</div>
        <div style="height:35px;"></div>
        <div>
			@*<div style="display: inline-block;position:relative;">
		  		<a href="#" id="Cancel" style="text-decoration: none">
					<div class="GryButton" style="position:relative;" onclick="CloseSignEditorWindow1()">Cancel</div>
		  		</a>
			</div>	*@
            <div style="display: inline-block;position:relative;">
    			<div class="Cancel GryButton" id="Cancel" style="position:relative;cursor:pointer">Cancel</div>
			</div>	
            <div style="display:inline-block; width: 20px;"></div>
			<div style="display: inline-block;position:relative;">
				<div id="Save" class="GrenButtonDisabled Save">Save</div>
		  	</div>
            @*<div class="GreenButton">
                <input class="Save" type="submit" value="Save" style="background: transparent;border: none !important; color: white !important; " />
            </div>*@
		</div>
	</div>	
</div>	
