﻿@model  IBI.Web.ViewModels.Admin.Destinations.SignImageEditorModel 
@{
	ViewBag.Title = "Mermaid IBI - SignEditor";
	Layout = null;
  }
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SignEditor</title>
	<style>
		
		div.options > label > input {
			visibility: hidden;
			display: inline-block;
			width: 0px;
		}

		div.options > label {
			display: inline-block;
			vertical-align: middle;
			font-size:13px;
			font-family:Arial;
			position: relative;
			width: 25px;
			top: -5px;
		}

		div.options > label > img {
			display: inline-block;
			height:30px;
			width:30px;
			background: white;
			border-radius: 6px;
			position: relative;
			top: 9px;
		}

		div.options > label > input:checked +img {  
			background-image: url(../images/destinations/inactive.png);
			background-repeat: no-repeat;
			background-position:center center;
			background-color: white;
		}

		.styled-select select {
			background: transparent;
			background-color:white;
			width: 126px;
			padding-left: 7px;
			border: 0px;
			border-radius: 3px;
			height: 33px;
			font-family:Arial;
			font-size:13px;
			height: 30px;
			color:#bebebe
		}
		
		.section{
			vertical-align: middle;
			text-align: left;
			width: 140px;
			display: inline-block;

		}
		
		.OuterSettings{
			vertical-align: middle;
			text-align: left;
			font-family: Arial;
			font-weight: bold;
			position: relative;
			border: none;
			font-size: 14px;
		}
		
		.LabelSettings{
			vertical-align: middle;
			padding-top: 18px;
			text-align: left;
			font-family: Arial;
			display: inline-block;
			position: relative;
			border: none;
			font-size: 12px;
		}

		.Labels{
			vertical-align: top;
			padding-bottom:3px;
			text-align: left;
			font-family:Arial;
			position: relative;
			font-size:13px;
		}
		
		.Paging{
			vertical-align: middle;
			text-align: left;
			font-family:Arial;
			display: inline-block;
			position: relative;
			padding-top:5px;
			padding-left:38px;
			padding-right:25px;
			padding-bottom:5px;
			font-size:13px;
		}
		
		.spacer
		{
			padding-top: 3px;
			width:152px
		}

		.inputboxs{
			height: 33px;
			width: 55px;
			border-radius: 3px;
			border:none;
			font-size:13px;
			font-family:Arial;
			padding-left:15px;
			color:#bebebe
		}

		.textcustoms
		{
			height: 33px;
			width: 126px;
			border-radius: 3px;
			border:none;
			background-color:white;
			display: table-cell;
			position: relative;
		}

		.styled-template select {
			background: transparent;
			background-color:white;
			width: 210px;
			height: 30px;
			padding-left: 7px;
			border: 5px;
			border-radius: 3px;
			font-family:Arial;
			position: relative;
			font-size:13px;
			color:#bebebe
		}

		.PrevButton {
			display:inline-block;
			position:relative;
			padding-right:7px;
			vertical-align:middle;
			text-align:right;
			right:-4px;
		}

		.NextButton {
			display:inline-block;
			position:relative;
			padding-left:12px;
			vertical-align:middle;
			text-align:right;
			right:-4px
		}

	   .PixelRow {
			height: 2px;
		}

		.PixelRow1 {
			height: 4px;
		}
	 
		.PixelImage {
		   display: inline-block;
		   padding-right: 2px;
		}
		.Content {
			color:red;
			padding: 10px;
			font-weight: bold;
		}
		.ImageData {
			display:table-cell;
			width:350px;
			height:68px;
			background-color:white;
			text-align:center;
			vertical-align:middle;
			position:relative
		}
		.button {
			display:inline-block;
			padding-right:10px
		}
		.ButtonSpacer{
			height: 50px;
		}
		.GrenButton {
		display: inline-block;
		color: white;
		background-color: #8da341;
		border-radius: 3px;
		border-bottom: solid 1px #bbb;
		text-align: center;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100px;
		height: 20px;
		cursor:pointer;
		}
		.GryButton {
			display: inline-block;
			color: white;
			background-color: #a9a9a9;
			border-radius: 3px;
			border-bottom: solid 1px #bbb;
			text-align: center;
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			width: 100px;
			height: 20px;
		}
		 .GenerateButton {
			display: inline-block;
			color: white;
			background-color: #8da341;
			border-radius: 3px;
			border-bottom: solid 1px #bbb;
			text-align: center;
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			width: 220px;
			height: 20px;
			cursor:pointer;
		}
		.DefaultButton {
			display: inline-block;
			color: white;
			background-color: #a9a9a9;
			border-radius: 3px;
			border-bottom: solid 1px #bbb;
			text-align: center;
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			width: 220px;
			height: 20px;
			cursor:pointer;
		}
		.GrenButtonDisabled {
			display: inline-block;
			color: white;
			background-color: rgba(141,163,65,0.5);
			border-radius: 3px;
			border-bottom: solid 1px #bbb;
			text-align: center;
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			width: 100px;
			height: 20px;
		}
		.options {
			/*top: -14px;*/
			position: relative;
			/*left: -5px !important;*/
		}
		.CheckBoxLabel
		{
			position: relative;
			top: -10px;
		}
	</style>

	<script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
	<script src="@Url.Content("~/Scripts/fileupload/jquery.iframe-transport.js")" type="text/javascript"></script> 
	<script src="@Url.Content("~/Scripts/fileupload/jquery.fileupload.js")" type="text/javascript"></script> 
	 
	<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 

	<link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />
   
	<!--jAlert-->
	<script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
	<link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		$(document).ready(function ()
		{
			

			$(".Cancel").click(OnCloseWindow);

			function OnCloseWindow() {
				window.parent.$("#SignImageEditor").data("kendoWindow").close();
			}


			//$(".Cancel").click(function () {
			//	window.parent.$("#SignImageEditor").data("kendoWindow").close();
			//});

			function EnableControls(parm) {
				var con = $("#imageSettings");
				if (parm) {
					$("*", con).each(function () {
						$(this).removeAttr("disabled");
						$('div.options>label>img').css('background-color', 'white');
					});
				} else {
					$("*", con).each(function () {
						$(this).attr("disabled", "disabled");
						$('div.options>label>img').css('background-color', '#ebebe4');
					});
				}
				$(".Generate").removeAttr("disabled");
				$("#Generate").removeAttr("disabled");
				$(".ResettoDefault").removeAttr("disabled");
				$("#ResettoDefault").removeAttr("disabled");
				$(".Cancel").removeAttr("disabled");
				$("#Cancel").removeAttr("disabled");
				$(".Cancel").click(OnCloseWindow);
			}

			function isNumber(n) {
				return !isNaN(parseFloat(n)) && isFinite(n);
			}

			function UpdateControlsStatus(modeSelected)
			{
				var CustomerId = $("#CustomerId").val();
				var objectId, objectType;

				if (modeSelected != "0") {
					EnableControls(false);
				}
				else {
					EnableControls(true);
					objectId = CustomerId;
					objectType = "T";
					$.ajax({
						url: "../SignData/ImageGeneratorEditorSettings",
						type: "post",
						data: {
							ObjectId: objectId,
							ObjectType: objectType
						}
					})
					 .done(function (data) {
						 $("#divImageSettings").html(data);
						 EventBindings();
					});
					return false;
				}
			}

			function SetToDefault(modeSelected) {
				var objectId, objectType;
				objectId = modeSelected;
				objectType = "R";
				$.ajax({
					url: "../SignData/ImageGeneratorEditorSettings",
					type: "post",
					data: {
						ObjectId: objectId,
						ObjectType: objectType
					}
				})
				 .done(function (data) {
					 $("#divImageSettings").html(data);
					 $("#SelectedTemplate").val(modeSelected);
					 $("#SelectedTemplateName").val($("#SelectedTemplate option:selected").text());
					 EnableControls(false);
					 EventBindings();
					 $(".Cancel").click(OnCloseWindow);
				});
			}
		
			function OnChangeTemplate(e) {
				//alert("OnChangeTemplate");
				var modeSelected = $(this).val();
				$("#SelectedTemplateName").val($("#SelectedTemplate option:selected").text());
				UpdateControlsStatus(modeSelected);
				$(".Cancel").click(OnCloseWindow);
			}

			function OnClickResettoDefault(e) {
				var defaultGraphicRule = $("#DefaultGraphicRule").val();
				SetToDefault(defaultGraphicRule);
				$("#SelectedTemplateName").val($("#SelectedTemplate option:selected").text());
				return false;
			}

			function OnClickGenerate(e) {
				//if ($("#SelectedTemplate").val() != "SELECT") {
					$.ajax({
						url: '../SignData/GetImagesPreview',
						type: "post",
						data: $("#theForm").serialize()
					})
					.done(function (data) {
						$("#PPager").html(data);
						//EventBindings();
						$(".NextImge").click(OnClickNextImge);
						$(".PreImge").click(OnClickPreImge);
						ChangeSaveButtonState(true);
					});
					return false;
				//}
			}

			function OnClickSave(e) {
				//if ($("#SelectedTemplate").val() != "SELECT") {
				//alert("Save called");
				$.ajax({
					url: '../SignData/SaveImageGeneratorData',
					type: "post",
					data: $("#theForm").serialize()
				})
				.done(function (data) {
					jAlert("Sign Pages have been saved");
					RefreshMe($("#SignId").val());
				});
				//}
			}

			function OnClickPrevButton(e) {
				var prt = $(this).parent();
				var inp = $(".inputboxs", prt);
				var numval = inp.val();
				var intval = 0;

				if (numval == "") numval = "0";

				intval = parseInt(numval, 10);

				if (intval > -100) intval--;
				inp.val(intval);
				ChangeSaveButtonState(false);
				return false;
			}
		
			function OnClickNextButton(e) {
				var prt = $(this).parent();
				var inp = $(".inputboxs", prt);
				var numval = inp.val();
				var intval = 0;

				if (numval == "") numval = "0";

				intval = parseInt(numval, 10);

				if (intval < 100) intval++;
				inp.val(intval);
				ChangeSaveButtonState(false);
				return false;
			}

			function OnKeyupinputboxs(e) {
				var numval = $(this).val();
				var intval = 0;
				if (isNumber(numval)) {
					if (numval == "") numval = "0";
					intval = parseInt(numval, 10);
					if (intval > 100) {
						$(this).val(100);
					}
					else if (intval < -100) {
						$(this).val(-100);
					}
					ChangeSaveButtonState(false);
				}
				return false;
			}

			function OnClickNextImge(e) {
				$.ajax({
					url: "../SignData/GetNextImage",
					type: "post",
				})
				.done(function (data) {
					$("#PPager").html(data);
					$(".NextImge").click(OnClickNextImge);
					$(".PreImge").click(OnClickPreImge);
				});
				return false;
			}
		
			function OnClickPreImge(e) {
				$.ajax({
					url: "../SignData/GetPreImage",
					type: "post",
				})
				.done(function (data) {
					$("#PPager").html(data);
					$(".NextImge").click(OnClickNextImge);
					$(".PreImge").click(OnClickPreImge);
				});
				return false;
			}

			function OnClickCenterYes(e) {
				if ($(this).is(':checked')) {
					$(".CenterYes").attr("checked", "checked");
					$(".CenterNo").removeAttr("checked");
					ChangeSaveButtonState(false);
				}
			}

			function OnClickAllCaps(e) {


				ChangeSaveButtonState(false);
			}

			function OnClickCenterNo(e) {
				if ($(this).is(':checked')) {
					$(".CenterNo").attr("checked", "checked");
					$(".CenterYes").removeAttr("checked");
					ChangeSaveButtonState(false);
				}
			}

			function OnChangeFontList(e) {
				var SelectedFont = $(this).val();

				var prt = $(this).parent().parent().parent();
				var hd = $("#Type", prt);
				var fontType = hd.val();
				var dropDown = $(".FontSizeList", prt);

				$.ajax({
					url: "../SignData/GetFontSizes",
					type: "post",
					data: {
						customerId: $("#CustomerId").val(),
						fontType: fontType,
						fontName: SelectedFont
					}
				})
				.done(function (data) {
					dropDown.html(data);
					ChangeSaveButtonState(false);
				});
				return false;
			}

			function ChangeSaveButtonState(enabled) {
				if (enabled) {
					//alert("enabling...");
					$(".Save").click(OnClickSave);
					$(".Save").removeClass("GrenButtonDisabled");
					$(".Save").removeAttr("disabled");
					$(".Save").addClass("GrenButton");
					//alert("enabled...");
				}
				else {
					$(".Save").unbind('click');
					$(".Save").removeClass("GrenButton");
					$(".Save").addClass("GrenButtonDisabled");
				}
				$("#Generate").removeAttr("disabled");
				$(".Cancel").click(OnCloseWindow);
			}

			function EventBindings() {
				$("#SelectedTemplate").change(OnChangeTemplate);
				$(".ResettoDefault").click(OnClickResettoDefault);
				$(".Generate").click(OnClickGenerate);
				//$(".Save").click(OnClickSave);
				ChangeSaveButtonState(false);
				$(".PrevButton").click(OnClickPrevButton);
				$(".NextButton").click(OnClickNextButton);
				$(".inputboxs").keyup(OnKeyupinputboxs);
				$(".NextImge").click(OnClickNextImge);
				$(".PreImge").click(OnClickPreImge);
				$('.CenterYes').click(OnClickCenterYes);
				$('.CenterNo').click(OnClickCenterNo);
				$(".FontList").change(OnChangeFontList);
				$(".AllCaps").click(OnClickAllCaps);
				$(".Generate").removeAttr("disabled");
				$(".Cancel").click(OnCloseWindow);
				$(".radio").click(function () {
					var group = "input:checkbox[name='" + $(this).attr("name") + "']";
					$(group).attr("checked", false);
					$(this).attr("checked", true);
				});
			}              

			$("#Mode").change(function () {
				var modeSelected = $(this).val();
				var CustomerId = $("#CustomerId").val();
				var layoutId = $("#layoutId").val();
				var SignId = $("#SignId").val();

				if (modeSelected == "Manual") {
					$.ajax({
						url: "../SignData/ManualSignEditor",
						type: "post",
						data: {
							customerId: CustomerId,
							layoutId: layoutId,
							signId: SignId,
							mode: modeSelected
						}
					})
				  .done(function (data) {
					  $("#ImageEditorMode").html(data);
				  });
				}
				else {
					$.ajax({
						url: "../SignData/ImageGeneratorEditor",
						type: "post",
						data: {
							customerId: CustomerId,
							layoutId: layoutId,
							signId: SignId,
							mode: modeSelected
						}
					})
					.done(function (data) {
						$("#ImageEditorMode").html(data);
						EventBindings();
					});
				}
				return false;
			});

			EventBindings();

			if ($("#SelectedTemplateName").val() != "0") {
				EnableControls(false);
			}
			$(".Cancel").click(OnCloseWindow);
			$('.Save').attr("disabled", true).addClass("disabled");
		});
	</script>
</head>
<body>
	<form id="theForm">
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div style="position:relative;display:table;right:-10px;width:99%;height:5%;">
			<div style="position:relative;display:table-row;">
				<div style="display: table-cell;position: relative;text-align:left;font-family:Arial;font-size:14px">Destination Images</div>
				<div style="display: table-cell;position: relative;text-align:right">
					<img src="~/Images/infotainment/close.png" class="Cancel" id="Cancel"/>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div style="position:relative;display:table;right:-10px;width:99%;height:13%;vertical-align:top;">
			<div style="position:relative;display:table-row;">
				<div style="display: table-cell;position: relative;">
					<div class="Labels">
						<label title="Line"><strong>Line</strong>: @Model.Line</label>
					</div>
					<div class="Labels">
						<label title="Main Text"><strong>Main Text</strong>:  @Model.MainText</label>
					</div>
					<div class="Labels">
						<label title="Sub Text"><strong>Sub Text</strong>: @Model.SubText</label>
					</div>
				</div>
				<div style="display: table-cell;position: relative;">
					<div class="Labels">
						<label title="Type Destination"><strong>Type</strong>: @Model.Type</label>
					</div>
					<div class="Labels">
						<label title="Size"><strong>Size</strong>: @Model.Size</label>
					</div>
				</div>
				<div style="display: table-cell;position: relative;">
					<div class="Labels">
						<label title="Technology"><strong>Technology</strong>: @Model.Technology</label>
					</div>
					<div class="Labels">
						<label title="Manufacture"><strong>Manufacturer</strong>: @Model.Manufacturer</label>
					</div>
				</div>
				<div style="display: table-cell;position: relative;">
					<div class="Labels">
						<label title="Editor Mode">Editor Mode</label>
						<br />
					</div>
					<div class="styled-template">
						 @Html.DropDownListFor(model => model.Mode, Model.EditorMode)
					</div>
				</div>
			</div>
		</div>
		@Html.HiddenFor(model => model.CustomerId)
		@Html.HiddenFor(model => model.layoutId)
		@Html.HiddenFor(model => model.SignId)
		@Html.HiddenFor(model => model.DefaultGraphicRule)
		@Html.HiddenFor(model => model.LayoutHeight)
		@Html.HiddenFor(model => model.LayoutWidth)
		<div id="ImageEditorMode">
			@{
				if (Model.Mode.ToLower() == "manual")
				{
					@Html.Partial("PartialManualSignEditorMode",Model.ManualSignData)
				}
				else
				{
					@Html.Partial("PartialImageEditorMode",Model.ImageGenerator)
				}
			}
		</div>
	</form>
</body>
</html>
