﻿@model IBI.Web.ViewModels.BusStatusLog.ListContainerViewModel


@using MvcContrib.Pagination
 

@{
    ViewBag.Title = "BusStatusLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bus Status Log</h2>
  
   <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>  
   <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />  

<div id="BusStatusLogGrid">

    
    @{
        MvcContrib.Pagination.IPagination<IBI.Shared.Models.BusTree.BusStatusLog> PagedList = Model.PagedList;
        IBI.Web.ViewModels.BusStatusLog.FilterViewModel FilterViewModel = Model.FilterViewModel;
        MvcContrib.UI.Grid.GridSortOptions GridSortOptions = Model.GridSortOptions;               
     } 
       
    
    @{
        Html.RenderPartial("SearchFilters", FilterViewModel);
        <br />
        Html.RenderPartial("SearchResults", Model);    
        <br />
        Html.RenderPartial("Pager", PagedList);  
    } 

</div>       
 


