﻿@model IBI.Shared.Models.ServiceResponse<List<IBI.Shared.Models.Hotspot.AccessPoint>>

@{
    Layout = null;
}

<style>
    #fixedHeader th:nth-child(1), #tblRow td:nth-child(1) {
        max-width: 40px;
        min-width: 40px;
    }
    #fixedHeader th:nth-child(2), #tblRow td:nth-child(2) {
        max-width: 145px;
        min-width: 145px;
    }
    #fixedHeader th:nth-child(3), #tblRow td:nth-child(3) {
        max-width: 110px;
        min-width: 110px;
    }
    #fixedHeader th:nth-child(4), #tblRow td:nth-child(4) {
        max-width: 130px;
        min-width: 130px;
    }
    #fixedHeader th:nth-child(5), #tblRow td:nth-child(5) {
        max-width: 140px;
        min-width: 140px;
    }
    #fixedHeader th:nth-child(6), #tblRow td:nth-child(6) {
        max-width: 80px;
        min-width: 80px;
    }
    #fixedHeader th:nth-child(7), #tblRow td:nth-child(7) {
        max-width: 135px;
        min-width: 135px;
    }
    #fixedHeader th:nth-child(8), #tblRow td:nth-child(8) {
        max-width: 150px;
        min-width: 150px;
    }
    #fixedHeader th:nth-child(9), #tblRow td:nth-child(9) {
        max-width: 80px;
        min-width: 80px;
    }
    #fixedHeader th:nth-child(10), #tblRow td:nth-child(10) {
        min-width: 50px;
        background-image:none;
    }
     
</style>
<div class="heading">@Model.Data.Count() Access points found</div>
<table id="myTable" class="tablesorter">
    <thead id="fixedHeader">

        <tr style="display:@(Model.Data.Count()==0 ? "none" : "")">
            <th>Id</th>
            <th>Name</th>
            <th>MAC</th>
            <th>Hotspot</th>
            <th>AP-Group</th>
            <th style="text-align: center;">Enabled</th>
            <th>Last Ping</th>
            <th>Today Usage (S/R)</th>
            <th style="text-align: center;">Deleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ap in Model.Data)
        {
            <tr id="tblRow">
                <td>@ap.ID</td>
                <td>@ap.Name</td>
                <td>@ap.MAC</td>
                <td>@ap.HotspotName</td>
                <td>@ap.AccessPointGroupName</td>
                <td style="font-weight: bold; text-align:center; color:@(ap.Enabled ? "green" : "red")">@(ap.Enabled ? "Yes" : "No")</td>
                <td>@(ap.LastPing != null ? ap.LastPing.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                <td style="text-align:right">@(ap.TodayUsage == null ? "0/0" : (ap.TodayUsage.BytesSent / 1024 / 1024) + " MB / " + (ap.TodayUsage.BytesReceived / 1024 / 1024) + " MB")</td>
                <td style="font-weight: bold; text-align:center; color:@(ap.IsDeleted? "red" : "green")">@(ap.IsDeleted ? "Yes" : "No")</td>
                <td style="text-align:center">
                    <a id="lnkEditAccessPoint" onclick="OpenWindow_EditAccessPoint(@ap.ID)" href="javascript:void(0)" title="Edit" data-id="@ap.ID"><img src="~/Images/destinations/edit.png" /></a>
                    &nbsp;&nbsp;&nbsp;
                    <a id="lnkShowAccessPointActivity" onclick="OpenWindow_ShowAccessPointActivity(@ap.ID)" href="javascript:void(0)" title="Daily activity" data-id="@ap.ID"><img src="~/Images/destinations/activity.png" /></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

<script type="text/javascript">
     $(document).ready(function () { 
        $("#myTable").tablesorter();
        $('#fixedHeader').scrollToFixed();
     });
     
</script>

