﻿@{
    Layout = null;
}


<div style="float:right; text-align:right; margin-right:20px;" class="ibiSearchForm">
    No of days
    <select id="lstDays" style="width: 100px; min-width: 100px">
        <option value="10" selected="selected">10</option>
        <option value="30">30</option>
        <option value="100">100</option>
        <option value="365">365</option>
        <option value="2048">Always</option>
    </select>
    
    <input id="btnFetchOlderActivity" type="button" value="Fetch" class="green" />
</div>

<div>
    <div id="dvActivityList" class="ibiGrid">
        <h2>Loading data ... </h2>
    </div>
</div>

    <script>
        $(document).ready(function () {

            SearchActivity(10);

            $("#btnFetchOlderActivity").on('click', function () {
                SearchActivity($("#lstDays").val());
            });



            function SearchActivity(adays) {
                debugger
                EnableControls_ActivityList(false);
                $("#dvActivityList").html('Loading data');
                var url = '@Url.Action("AccessPointActivityList")' + '?accessPointId=@ViewBag.AccessPointId&days=' + adays;
                $("#dvActivityList").load(url, function () {
                    EnableControls_ActivityList(true);
                });
            }


            function EnableControls_ActivityList(bool) {

                var className = "";
                var cursor = "";
                if (bool) {
                    className = "green";
                    cursor = "pointer";
                }
                else {
                    className = "grey";
                    cursor = "default";
                }

                $('input[type="button"]').prop('disabled', !bool);
                $('input[type="button"]').prop('class', className);
                $('input[type="button"]').css('cursor', cursor);

            }
        });


    </script>
