﻿@{
    ViewBag.Title = "Hotspots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
     

<script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />


@if (this.Context == null)
{
    <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script>
    <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
}

<link href="@Url.Content("~/Content/template/ibi-controls.css")" rel="stylesheet" type="text/css" />
}

<form id="frmHotspot" method="get">
    <div class="ibiSearchForm">
        <table>
            <tr>
                <td>
                    <h2>Hotspots</h2>
                </td>
                <td>

                    <div style="float:right; text-align:right; display:inline-block; vertical-align:top">
                        <label for="chkStatus">Show Deleted</label>
                        <input type="checkbox" id="chkStatus" value="true" style=" vertical-align:middle" />
                        
                       
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" id="search" placeholder="Hotspot Id or name" />

                        <input type="button" id="btnSearch" value="Search"  /> 
                    </div>


                </td>
            </tr>
        </table>
    </div>
    <br /><br />

    <div id="hotspotList" class="ibiGrid" style="display:block;">
        <h2>Loading Hotspots ... </h2>
    </div>
</form>

<script>

    $(document).ready(function () {
         
        $("#frmHotspot").on('submit', function () {
            SearchHotspot();
            return false;
        })

        $("#hotspotList").load('@Url.Action("HotspotList")');//?search=" + $("#search").val());

        $("#btnSearch").on('click', function () {

            SearchHotspot();
            return false;
        })

    });


    function SearchHotspot() {
        $("#hotspotList").html('<h2>Loading Hotspots ... </h2>');

        var s = $("#search").val();
        var showDeleted = $("#chkStatus").is(':checked');
        var url = '@Url.Action("HotspotList")' + '?search=' + encodeURIComponent(s) + '&showDeleted=' + showDeleted;
        //alert(url);

        EnableControls(false);
        $("#hotspotList").load(url, function () {
            EnableControls(true);
        });
    }

    function EnableControls(bool) {
        
        
        var className = "";
        var cursor = "";
        if (bool) {
            className = "green";
            cursor = "pointer";
        }
        else {
            className = "grey";
            cursor = "default";
        }

        $('input[type="button"]').prop('disabled', !bool);
        $('input[type="button"]').prop('class', className);
        $('input[type="button"]').css('cursor', cursor);

    }

</script>
