﻿    @model  IBI.Shared.Models.ScheduleTreeItems.Schedule


@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common
@using System.Collections
@using System.Data
@using IBI.Shared.Models.Signs
@using System.Xml.Linq

@{
    ViewBag.Title = "Mermaid IBI - Edit Schedule";
    Layout = null;
}
 
<script>
       

    function RefreshMe(id) { 
            window.$("#EditSchedule").data("kendoWindow").close();
            //ShowDestinationImages(id); 
    }

</script>

<style>
    .PixelRow {
        height: 2px;
    }

    .PixelImage {
        display: inline-block;
        padding-right: 2px;
    }

    .Content {
        color: red;
        padding: 10px;
        font-weight: bold;
    }

    .spacer {
        padding-top: 6px;
    }

    .OFFCell {
        background-color: black;
        width: 2px;
        height: 2px;
        float: left;
    }

    .th {
        font-weight: bold; text-align: left; background-color:#ccc; padding-top:5px; padding-bottom:5px;
    }
    .td {
        text-align: left;
        padding-top: 5px;
        border-bottom:solid 1px #ccc
    }
    .inputbox {
        width:150px;
    }
</style>
<script>


    function FormSuccess(data) {

        //alert(result.PostResult + '-' + result.ErrorMessage);
        var result = data.PostResult;
        var errMsg = data.ErrorMessage;


        if (result == 'true') {
            jAlert("Destination Saved Successfully", "Success");
            bReloadTree = true;
            $('#AddEditDestination').data("kendoWindow").close();
        }
        else {
            jAlert(errMsg, "Failure");
        }

        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
    }



    $(document).ready(function () {
        $('#closePopup').click(function () {
            bReloadTree = true;
            $('#EditSchedule').data("kendoWindow").close();
        })
    });


    $(document).ready(function () {

        var openedForEdit = '@Model.ScheduleId';

        if (openedForEdit == '') {
            $('#deleteRecord').attr("disabled", true).addClass("disabled");
            $('#deleteRecord').css('display', 'none');
        }


        $('#deleteRecord').click(function () {

            jConfirm('Are you sure to delete this schedule?', 'Confirmation', function (r) {
                if (r == true) {

                    $('#deleteRecord').attr("disabled", true).addClass("disabled");
                    $('#deleteRecord').css('display', 'none');

                    $.post("../ScheduleTree/DeleteSchedule", { scheduleId: "@Model.ScheduleId" })
                         .success(function (data) {

                             if (data.result == 'Success') {
                                 jAlert(data.msg, "Deleted");

                                 window.$("#EditSchedule").data("kendoWindow").close();
                                 bReloadTree = true;
                                 ReloadDynaTree();
                             }
                             else {
                                 jAlert(data.msg, "Not Deleted");
                             }

                         })
                         .fail(function () {
                             jAlert("Schedule cannot be deleted", "Failure");
                         });

                    $('#deleteRecord').removeAttr("disabled").removeClass("disabled");

                }
            });


        })
    });

    var forcedNewOrOverwrite;
    $('#btnSave').on('click', function () {
        //$("#btnUploadFile").attr("disabled", true).addClass("disabled");


        var data = new FormData();

        var schId = '@Model.ScheduleId';
        var cusId = '@Model.CustomerId';
            var ln =  $('#txtLine').val();
            var frName = $('#txtFromName').val();
            var dest = $('#txtDestination').val();
        var vName = $('#txtViaName').val();

        //alert("id:'" + schId + "' - customer: '" + cusId + "' - line:'" + ln + "', from:'" + frName + "', destination: '" + dest + "', via: '" + vName + "'");

        $.post("../ScheduleTree/EditSchedule", { scheduleId: schId, customerId: cusId, line: ln, fromName: frName, destination: dest, viaName: vName, forcedOption: forcedNewOrOverwrite })
        .success(function (data) {
            debugger
            var done = false;
            switch (data.result) {
                case 'Failure':{
                    jAlert(data.msg);
                    break;
                }
                case 'Failure|Duplicate': {                    
                         
                        jConfirm('A similar schedule with this information already exists. What do you want?', 'Confirmation', function (r) {

                            if (r == true) {

                                //alert('you selected NEW SCHEDULE');
                                forcedNewOrOverwrite = 'new';
                                $("#btnSave").click();
                                return;
                                @*$('#deleteRecord').attr("disabled", true).addClass("disabled");
                                $('#deleteRecord').css('display', 'none');

                                $.post("../ScheduleTree/DeleteSchedule", { scheduleId: "@Model.ScheduleId" })
                                     .success(function (data) {

                                         if (data.result == 'Success') {
                                             jAlert(data.msg, "Deleted");

                                             window.$("#EditSchedule").data("kendoWindow").close();
                                             bReloadTree = true;
                                             ReloadDynaTree();
                                         }
                                         else {
                                             jAlert(data.msg, "Not Deleted");
                                         }

                                     })
                                     .fail(function () {
                                         jAlert("Schedule cannot be deleted", "Failure");
                                     });

                                $('#deleteRecord').removeAttr("disabled").removeClass("disabled");*@

                            }
                            else {
                                //alert('you selected OVERWRITE');
                                forcedNewOrOverwrite = 'overwrite';
                                $("#btnSave").click();
                                return;
                            }
                            //end r if
                             
                        }, 'New Schedule', 'Overwrite');//end jconfirm
                    
                        
                    break;
                }
                case 'Success': {
                    jAlert(data.msg);
                    done = true;
                    break;
                }
                default: { // >0
                    jAlert('Unknown error occured, Schedule not saved');
                    break;
                }
            }



            if (done) {
                forcedNewOrOverwrite = null;
                window.$("#EditSchedule").data("kendoWindow").close();
                bReloadTree = true;
                ReloadDynaTree();
            }

        })
        .fail(function (data) {
            //alert('There is some error uploading your selected Mp3 file');
            jAlert("There are some backend errors in updating this schedule");

        })
    });

    $("#btnClose").on('click', function () {
        window.$("#EditSchedule").data("kendoWindow").close();
        ReloadDynaTree();
    });

    function CloseWindow() {
        window.$("#EditSchedule").data("kendoWindow").close();
    }
</script>


<table class="box input-table">
    <thead></thead>
    <tbody>
        <tr>
            <th style="text-align:right; padding-right:5px;">Schedule Id</th>
            <td style="text-align:left;"><b>@Model.ScheduleId</b></td>
        </tr>
        <tr>
            <th style="text-align: right; padding-right: 5px;">Line</th>
            <td style="text-align:left;">
                @Html.TextBoxFor(model => model.Line, new { @class = "inputbox", placeholder = "Enter Line", id = "txtLine" })
            </td>
        </tr>
        <tr>
            <th style="text-align: right; padding-right: 5px;">From</th>
            <td style="text-align:left;">
                @Html.TextBoxFor(model => model.FromName, new { @class = "inputbox", placeholder = "Enter From", id = "txtFromName" })
        </td>
        </tr>
        <tr>
            <th style="text-align: right; padding-right: 5px;">Destination</th>
            <td style="text-align:left;">
                @Html.TextBoxFor(model => model.Destination, new { @class = "inputbox", placeholder = "Enter Destination", id = "txtDestination" })
            </td>
        </tr>

        <tr>
            <th style="text-align: right; padding-right: 5px;">Via</th>
            <td style="text-align:left;">
                @Html.TextBoxFor(model => model.ViaName, new { @class = "inputbox", placeholder = "Enter Via", id = "txtViaName" })
            </td>
        </tr>
        
        <tr>
        <th>
        </th>
            <td colspan="3" style="text-align:left;">   
                <div>
                    <div style="display: inline-block; padding-right: 10px">
                        <a href="#" id="deleteRecord" style="text-decoration: none">
                            <div class="deletebutton">Delete</div>
                        </a>
                    </div>
                    <div style="display: inline-block; padding-right: 10px">
                        <a href="#" id="closePopup" style="text-decoration: none">
                            <div class="cancelbutton">Cancel</div>
                        </a>
                    </div>
                    <div style="display: inline-block;">
                        <a href="#" id="btnSave" style="text-decoration: none">
                            <div class="savebutton">Save</div>
                        </a>
                    </div>

                    <input type="hidden" id="hdnOverwrite" value="false" />
                </div>
            </td>
    </tr>
    </tbody>

</table>
 


<!-- display schedule stops -->
<table class="box input-table" style="display:none" >
    <thead>
        <tr>
            <th class="th">Sequence</th>
            <th class="th">Stop Id</th>
            <th class="th">Stop Name</th>
            <th class="th">Latitude</th>
            <th class="th">Logitude</th>
            <th class="th">Zone</th>
        </tr>
    </thead>
    @{
        foreach (var stop in Model.ScheduleStops)
        {
            <tr>
                <td class="td">
                    @stop.StopSequence
                </td>

                <td class="td">
                    @stop.StopId
                </td>

                <td class="td">
                    @stop.StopName
                </td>
                <td class="td">
                    @stop.Latitude
                </td>
                <td class="td">
                    @stop.Longitude
                </td>
                <td class="td">
                    @stop.Zone
                </td>
            </tr>
        }
    }


</table>