﻿@model  IBI.Shared.Models.ScheduleTreeItems.Schedule


@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common
@using System.Collections
@using System.Data
@using IBI.Shared.Models.Signs
@using System.Xml.Linq

@{
    ViewBag.Title = "Mermaid IBI - Schedule Stops";
    Layout = null;
}
 
<script>


    function RefreshMe(id) {
        window.$("#ScheduleStops").data("kendoWindow").close();
        ReloadDynaTree();
    }

    $(document).ready(function () {
        //alert('load');

        $('#btnCloseStops').on('click', function () {
            window.$("#ScheduleStops").data("kendoWindow").close();
        });

        $('#btnSaveStops').on('click', function () {
             //alert('saving');

            var parseStatus = true;
            var scheduleStops = [];

            var count = 1;
            // alert($("#tblStops tbody tr").size());
            //alert($("#tblStops tbody .trStop").length);

            $("#tblStops tbody .trStop").each(function () {

                var stopSequence = count;
                var stopId = $(this).find('input[id^="txtStopId"]').val();
                var stopName = $(this).find('input[id^="txtStopName"]').val();
                var latitude = $(this).find('input[id^="txtLatitude"]').val();
                var longitude = $(this).find('input[id^="txtLongitude"]').val();
                var zone = $(this).find('input[id^="txtZone"]').val();

                //perform stop validation checks here.

                if (stopId == '' || isNaN(stopId) || stopId.length != 16) {
                    jAlert("Invalid Stop Id in row " + count);
                    parseStatus = false;
                    return;
                }

                if (stopName == '' || stopName.length > 200) {
                    jAlert("Invalid Stop name in row " + count);
                    parseStatus = false;
                    return;
                }

                if (latitude == '' || longitude == '' || $.isNumeric(latitude) == false || $.isNumeric(longitude) == false) {
                    jAlert("Invalid GPS info in row " + count);
                    parseStatus = false;
                    return;
                }

                var stop = {
                    StopSequence: stopSequence,
                    StopId: stopId,
                    StopName: stopName,
                    Latitude: latitude,
                    Longitude: longitude,
                    Zone: zone
                };
                //alert('seq: ' + stop.StopSequence + ', id: ' + stop.StopId + ', name: ' + stop.StopName + ', lat: ' + stop.Latitude + ', long: ' + stop.Longitude + ', zone: ' + stop.Zone);
                scheduleStops.push(stop);

                count++;

            });

            // alert(parseStatus);
             
            if (parseStatus) {
                //alert(scheduleStops.length);
                //alert(scheduleStops[0].StopName);
                //save stops to DB
                //$.post("../ScheduleTree/UpdateScheduleStops", { stops: scheduleStops })
                $.ajax({
                    url: "../ScheduleTree/UpdateScheduleStops"
                , type: 'POST'
                , contentType: 'application/json'
                , data: JSON.stringify({ scheduleId: $('#hdnScheduleId').val(), stops: scheduleStops }) //stringify is important
                , dataType: 'json'
                    //,   success : successFunction
                    //,   error : errorFunction
                })
                .success(function (data) {

                    var done = false;
                    switch (data.result) {
                        case 'Failure': {
                            jAlert(data.msg);
                            break;
                        }
                        case 'Success': {
                            jAlert(data.msg);
                            done = true;
                            break;
                        }
                        default: { // >0
                            jAlert('Unknown error occured, Schedule stops not saved');
                            break;
                        }
                    }


                    if (done) {
                        window.$("#ScheduleStops").data("kendoWindow").close();
                        bReloadTree = true;
                        ReloadDynaTree();
                    }

                })
               .error(function (data) {
                   //alert('There is some error uploading your selected Mp3 file');
                   jAlert("There are some server errors in updating this schedule");

               });
            }
        });// end btnSave.click


        $("[id^=lnkInsertStop]").on("click", function () {
            var rowHtml = '<tr class="trStop">	<td> 		<div id="stopSequence" style="width:40px;">0</div>		<input type="hidden" id="hdnStopSequence_0" value="0" />	</td>	<td>		<input id="txtStopId_0" type="text" value="" class="stopId" maxlength="16" />	</td>	<td>		<input id="txtStopName_0" type="text" value="" class="stopName" maxlength="200" />	</td>	<td>		<input id="txtLatitude_0" type="text" value="" class="latitude" maxlength="10" />	</td>	<td>		<input id="txtLongitude_0" type="text" value="" class="longitude" maxlength="10" />	</td>	<td>		<input id="txtZone_0" type="text" value="" class="zone" maxlength="3" />	</td>	<td> 		<a class="lnkUp" href="javascript:void(0)" id="images"><img id="lnkSortUp" src="../images/destinations/scrollup.png" style="display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer" /></a>	</td>	<td>		<a class="lnkDown" href="javascript:void(0)" id="images"><img id="lnkSortDown" src="../images/destinations/scrolldown.png" style="display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer" /></a>	</td>	<td>		<a class="lnkDel" href="javascript:void(0)" id="lnkDelStop_0" data-row="0" title="Delete stop"><img src="../images/buttons/remove.png" style="width:18px; vertical-align: middle; text-align: center" /></a>	</td>	<td>		<a class="lnkInsert" href="javascript:void(0)" id="lnkInsertStop_0" data-row="0" title="Insert stop"><img src="../images/buttons/add.png" style="width: 18px; vertical-align: middle; text-align: center" /></a>	</td></tr>';
           
            var $tr = $(this).closest('.trStop');
           
            var rowNum;

            if ($tr==null)
                rowNum = 0;
            else
                rowNum = $tr.index()+1;

            //alert(rowNum);
              
            if(rowNum==0){
                $("#tblStops tbody .trStop:first").before(rowHtml);                 
            }
            else {
                //alert('here');
                var $tr = $(this).closest('.trStop');
                var $clone = $tr.clone(true);
                $clone.find(':input').val('');
                $clone.find('#stopSequence').html('');
                $tr.after($clone);
                //$('#tblStops > tbody > tr').eq(rowNum).after($clone);
            }
        });// end lnkInsertStop.click

        $("[id^=lnkDelStop]").on('click', function () {
            // alert('removed');
            var $tr = $(this).closest('.trStop');
            $tr.remove();
        });// end lnkDelStop.click

        $("[id^=lnkSortUp]").on('click', function () {
             //alert('sort up');
            var tr = $(this).closest('.trStop');
            var trLast = $(tr).prev()[0];
            //var $trLast = $tr.previousElementSibling; 
            if (trLast) {
                //trLast.before(tr);
                tr.after(trLast);
            }
        });// end lnkSortUp.click

        $("[id^=lnkSortDown]").on('click', function () {
             // alert('sort down');
              var $tr = $(this).closest('.trStop');
              $tr.next().after($tr);
        });// end lnkSortDown.click
         
    }); //end document.ready()

     

</script>

<style>
    .PixelRow {
        height: 2px;
    }

    .PixelImage {
        display: inline-block;
        padding-right: 2px;
    }

    .Content {
        color: red;
        padding: 10px;
        font-weight: bold;
    }

    .spacer {
        padding-top: 6px;
    }

    .OFFCell {
        background-color: black;
        width: 2px;
        height: 2px;
        float: left;
    }

    .tbl {
        width: 99%; background-color:#f1f1f1;
    }

        .tbl tr:nth-child(even) {
            background-color: #fff;
        }

        .tbl thead {
            
        }

    .tbl th {
        font-weight: bold;
        background-color: #343434;
        color: #fff;
        text-align: left;
        max-height: 50px;
        padding: 5px; 
    }

    

    .tbl td {
        text-align: left;
        padding: 5px;
        border-bottom: solid 1px #ccc;
    }

    .inlineEdit input {
        border: none; padding-top:3px; padding-bottom:3px;
        background-color: transparent;
        cursor: pointer;
    }

        .inlineEdit input:focus {
            border: solid 1px #808080;
            background-color: #c4e2f8;
        }

    input.sequenceNumber {
        width: 30px;
    }

    input.stopId {
        width: 150px;
    }

    input.stopName {
        width: 200px;
    }

    input.latitude {
        width: 80px;
    }

    input.longitude {
        width: 80px;
    }

    input.zone {
        width: 20px;
    }

    .header {
        vertical-align: middle;
        background-color: #343434;
        left: 0;
        top: 0;
        height: 30px;
        width: 97%;
        position: fixed;
        overflow: hidden;
        text-align: right;
    }

    .footer {
        vertical-align: middle;
        background-color: #999;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 97%;
        overflow: hidden;
        text-align: right;
    }
</style>

     
        <!-- display schedule stops -->
        <table id="tblStops" class="inlineEdit tbl" >
            <thead >
                <tr>
                    <th><div>#</div></th>
                    <th><div>Stop Id</div></th>
                    <th><div>Stop Name</div></th>
                    <th><div>Latitude</div></th>
                    <th><div>Logitude</div></th>
                    <th><div>Zone</div></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>@*<a class="lnkInsert" href="javascript:void(0)" id="lnkInsertStop_0" data-row="0" title="Insert stop"><img src='../images/buttons/add.png' style="width: 16px; vertical-align: middle" /></a>*@</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    foreach (var stop in Model.ScheduleStops)
                    {
                 <tr class="trStop">
	                <td> 
		                <div id="stopSequence" style="width:40px;">@stop.StopSequence</div>
		                <input type="hidden" id="hdnStopSequence_@count" value="@stop.StopSequence" />
	                </td>

	                <td>
		                <input id="txtStopId_@count" type="text" value="@stop.StopId" class="stopId" maxlength="16" />
	                </td>

	                <td>
		                <input id="txtStopName_@count" type="text" value="@stop.StopName" class="stopName" maxlength="200" />
	                </td>
	                <td>
		                <input id="txtLatitude_@count" type="text" value="@stop.Latitude" class="latitude" maxlength="10" />
	                </td>
	                <td>
		                <input id="txtLongitude_@count" type="text" value="@stop.Longitude" class="longitude" maxlength="10" />
	                </td>
	                <td>
		                <input id="txtZone_@count" type="text" value="@stop.Zone" class="zone" maxlength="3" />
	                </td>
	                <td> 
		                <a class="lnkUp" href="javascript:void(0)" id="images" title="Move Up"><img id="lnkSortUp" src="../images/destinations/scrollup.png" style="display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer" /></a>
	                </td>
	                <td>
		                <a class="lnkDown" href="javascript:void(0)" id="images" title="Move down"><img id="lnkSortDown" src="../images/destinations/scrolldown.png" style="display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer" /></a>
	                </td>
	                <td>
		                <a class="lnkDel" href="javascript:void(0)" id="lnkDelStop_@count" data-row="@(count)" title="Delete stop"><img src="../images/buttons/remove.png" style="width:18px; vertical-align: middle; text-align: center" /></a>
	                </td>
	                <td>
		                <a class="lnkInsert" href="javascript:void(0)" id="lnkInsertStop_@count" data-row="@(count)" title="Insert stop"><img src="../images/buttons/add.png" style="width: 18px; vertical-align: middle; text-align: center" /></a>
	                </td>
                </tr>

                        count++;
                    }
                }
            </tbody>
        </table>
        <br />
        <br /> 
 
    <div class="footer">
        <div style=" padding-right:20px; padding-top:8px;">
            <input type="hidden" id="hdnScheduleId" value="@ViewData["ScheduleId"]" />
            <input type="button" id="btnCloseStops" value="Cancel" class="GrayButtonSmall" />
            &nbsp;
            <input type="button" id="btnSaveStops" value="Save" class="GreenButtonSmall" />
        </div>
    </div>
