﻿@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common
@using System.Collections
@using System.Data
@using IBI.Shared.Models.Signs
@using System.Xml.Linq

@{
    ViewBag.Title = "Mermaid IBI - Upload Schedule";
    Layout = null;
}

<script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    $(document).ready(function () {
               
        $('#hdnOverwrite').val('false');
        

        $('#fileUpload').on('change', function () {
            $('#btnUploadFile').val('Upload');
            $('#hdnOverwrite').val('false');
            
            $('#btnUploadFile').show();
        }); 

        var forcedOption = '';

        $('#btnUploadFile').on('click', function () {
            //$("#btnUploadFile").attr("disabled", true).addClass("disabled");
            debugger
            var data = new FormData();
            var customerId = '@ViewData["CustomerId"]';


            var files = $("#fileUpload").get(0).files;


            if ($("#fileUpload").val() == "") {
                jAlert("You must select a CSV file");
                return;
            }

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedCSV", files[0]);
                data.append("customerId", '@ViewData["CustomerID"]')

                //forcedOption = $('#hdnOverwrite').val() != 'false';
                data.append("forcedOption", forcedOption);
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            ///  > 0 : new schedule created
            ///  0 : error, no schedule saved
            /// -1 : schedule already exists - no changes made (may not occur)
            /// -2 : schedule already exists - with changes
            /// -3 : schedule already exists - no changes
            /// -4 : schedule already exists - updated successfully
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "../ScheduleTree/UploadSchedule",
                contentType: false,
                processData: false,
                data: data
            })
            .success(function (data) {
                if (data == 'WrongFileType') {
                    jAlert('You can only upload a CSV file here');
                    return;
                }

                var done = false;
                switch (data) {
                    case 'Failure': {
                        jAlert('There are some errors in parsing this schedule, please check CSV format');
                        break;
                    }
                    case 0: {
                        jAlert('There are some errors in saving this schedule, please check CSV format');
                        break;
                    }
                    case -1: {
                        jAlert('The exact schedule already exists. No new changes made');
                        break;
                    }
                    case -2: {

                        jConfirm('This schedule already exists, but with changed stop sequence. What do you want?', 'Confirmation', function (ans) {
                            if (ans) {
                                //$('#hdnOverwrite').val('true');
                                forcedOption = "new";
                                $("#btnUploadFile").trigger("click");
                            }
                            else {
                                forcedOption = "overwrite";
                                $("#btnUploadFile").trigger("click");
                            }
                        }, 'New Schedule', 'Overwrite');
                         
                        break;
                    }
                    case -3: {
                        
                        jConfirm('This schedule already exists, with no changes in stop sequence. What do you want?', 'Confirmation', function (ans) {
                            if (ans) {
                                forcedOption = "new"
                                $("#btnUploadFile").trigger("click");
                            }
                            else {
                                forcedOption = "overwrite"
                                $("#btnUploadFile").trigger("click");
                            }
                        }, 'New Schedule', 'Overwrite');
                        break;
                    }
                    case -4: {
                        jAlert('An existing schedule updated successfully');
                        done = true;
                        break;
                    }
                    default: { // >0
                        jAlert('A new schedule added successfully ');
                        done = true;
                        break;
                    }
                }

                forcedOption = '';
                if (done) {
                    window.$("#UploadSchedule").data("kendoWindow").close();
                    bReloadTree = true;
                    ReloadDynaTree();
                }

            })
            .error(function (data) {
                //alert('There is some error uploading your selected Mp3 file');
                jAlert("There is some error uploading your selected Mp3 file");

            })
            .complete(function () {
                //do nothing
                //$("#btnUploadFile").removeAttr("disabled", false).removeClass("disabled");
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        });

        $("#btnClose").on('click', function () {
            window.$("#UploadSchedule").data("kendoWindow").close();
            ReloadDynaTree();
        });
    });
</script>

<style>
    .PixelRow {
        height: 2px;
    }

    .PixelImage {
        display: inline-block;
        padding-right: 2px;
    }

    .Content {
        color: red;
        padding: 10px;
        font-weight: bold;
    }

    .spacer {
        padding-top: 6px;
    }

    .OFFCell {
        background-color: black;
        width: 2px;
        height: 2px;
        float: left;
    }

    .th {
        font-weight: bold;
        text-align: left;
        background-color: #ccc;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .td {
        text-align: left;
        padding-top: 5px;
        border-bottom: solid 1px #ccc;
    }
</style>

<!-- display schedule stops -->
<table class="box input-table">

    <tbody>
        <tr>
            <th>Upload a CSV file</th>
            <td style="text-align:left;">
                <input type="hidden" id="customerId" name="customerId" value='@ViewData["CustomerId"]' />
                <input type="file" id="fileUpload" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align:left;">
                <input type="hidden" id="hdnOverwrite" value="false" />
                <input type="button" id="btnUploadFile" value="Upload" />
                <input type="button" id="btnClose" value="Cancel" />
            </td>
        </tr>
    </tbody>
</table>