﻿@model IBI.Web.ViewModels.Admin.SignAddons.SignAddonImageTextSettings

<div class="section">
    
    <div class="OuterSettings">
        <label for="@Model.LabelHeading">@Model.LabelHeading</label> 
    </div>
    <div class="LabelSettings"> 
        <label for="@Model.LabelFont">@Model.LabelFont</label>
    </div>
    <div class="spacer">
	    <div class="styled-select">
		    @Html.DropDownList(Model.Type+"Font", Model.FontList, new { @class="FontList" })
	    </div>
    </div>
    <div class="LabelSettings"> 
        <label for="@Model.LabelFontSize">@Model.LabelFontSize</label>
    </div>
    <div class="spacer">
	    <div class="styled-select">
            @Html.HiddenFor(m => m.Type)
		    @Html.DropDownList(Model.Type+"FontSize",Model.FontSizeList, new { @class="FontSizeList" })
	    </div>
    </div>
    <div class="LabelSettings"> 
        <label for="@Model.LabelLineCenter">@Model.LabelLineCenter</label>
    </div>
    <div class="spacer">
	    <div class="options">




@*		    <label title="Yes">
                @Html.RadioButton(Model.Type+"Center","1", Model.IsCenter, new { @class="CenterYes" } ) Yes
				<img />
		    </label>*@

            <label for="yes" class="CheckBoxLabel">Yes</label>
            <input type="checkbox" class="radio CenterYes" value="1" name="@(Model.Type+"Center")" @((Model.IsCenter)?"checked":"") style="width: 2em;height: 2em;" />


            <label for="no" class="CheckBoxLabel">No</label>
            <input type="checkbox" class="radio CenterNo" value="0" name="@(Model.Type+"Center")" @((!Model.IsCenter)?"checked":"") style="width: 2em;height: 2em;" />



@*		    <label title="No">
                @Html.RadioButton(Model.Type+"Center","0", !Model.IsCenter, new { @class="CenterNo" } ) No
				<img />
		    </label> *@
	    </div>
    </div>
    <div class="LabelSettings">
	     @*@Html.LabelFor(m => m.LabelXAdjustment)*@
        <label for="@Model.LabelXAdjustment">@Model.LabelXAdjustment</label>
    </div>
    <div class="spacer">
        <div class="textcustoms">
		    @Html.TextBox(Model.Type+"StartX",Model.XAdjustment, new { @class = "inputboxs" })
            <div class="PrevButton"><a href="#"><img src="../images/infotainment/Pre.png"></a></div>
            <div class="NextButton"><a href="#"><img src="../images/infotainment/Next.png"></a></div>
        </div>
    </div>
    <div class="LabelSettings">
        @*@Html.LabelFor(m => m.LabelYAdjustment)*@
        <label for="@Model.LabelYAdjustment">@Model.LabelYAdjustment</label>
    </div>
    <div class="spacer">
        <div class="textcustoms">
            @Html.TextBox(Model.Type+"StartY",Model.YAdjustment, new { @class = "inputboxs" })
            <div class="PrevButton"><a href="#"><img src="../images/infotainment/Pre.png"></a></div>
            <div class="NextButton"><a href="#"><img src="../images/infotainment/Next.png"></a></div>
        </div>
    </div>
</div>