﻿@model IBI.Web.ViewModels.Admin.SignAddons.SignAddonImageAdditionalSettings
<div class="section">
	<div class="OuterSettings">
        @*@Html.LabelFor(m => m.LabelHeading)*@
        <label for="@Model.LabelHeading">@Model.LabelHeading</label>
	</div>
				
	<div class="LabelSettings">
        @*@Html.LabelFor(m => m.LabelAllCaps)*@
        <label for="@Model.LabelAllCaps">@Model.LabelAllCaps</label>
	</div>
	<div class="spacer">
		<div class="options">
@*			<label title="Yes">
                @Html.RadioButton("AllCaps","1", Model.AllCaps, new { @class="AllCaps" } ) Yes
					<img />
			</label>*@

            <label for="yes" class="CheckBoxLabel">Yes</label>
            <input type="checkbox" class="radio AllCaps" value="1" name="AllCaps" @((Model.AllCaps)?"checked":"")  style="width: 2em;height: 2em;" />

            <label for="no" class="CheckBoxLabel">No</label>
            <input type="checkbox" class="radio AllCaps" value="0" name="AllCaps" @((!Model.AllCaps)?"checked":"") style="width: 2em;height: 2em;" />

@*			<label title="No">
                @Html.RadioButton("AllCaps","0", !Model.AllCaps, new { @class="AllCaps" } ) No
					<img />
			</label>   *@
		</div>
	</div>
			
	<div class="LabelSettings">
        @*<label for="@Model.LabelLineDivider">@Model.LabelLineDivider</label>*@
        <label for="@Model.LabelMainSubDivider">@Model.LabelMainSubDivider</label>
	</div>
	<div class="spacer">
        <div class="textcustoms">
            @Html.TextBox("LineDivider",Model.LineDivider, new { @class = "inputboxs" })
            <div class="PrevButton"><a href="#"><img src="../images/infotainment/Pre.png"></a></div>
            <div class="NextButton"><a href="#"><img src="../images/infotainment/Next.png"></a></div>
        </div>
    </div>
	<div class="LabelSettings">
        @*<label for="@Model.LabelMainSubDivider">@Model.LabelMainSubDivider</label>*@
        <label for="@Model.LabelLineDivider">@Model.LabelLineDivider</label>
	</div>
	<div class="spacer">
        <div class="textcustoms">
            @Html.TextBox("LineArea",Model.MainSubDivider, new { @class = "inputboxs" })
            <div class="PrevButton"><a href="#"><img src="../images/infotainment/Pre.png"></a></div>
            <div class="NextButton"><a href="#"><img src="../images/infotainment/Next.png"></a></div>
        </div>
    </div>
	<div class="LabelSettings">
        <label for="@Model.LabelShowGrid">@Model.LabelShowGrid</label>
	</div>
	<div class="spacer">
		<div class="options">
@*			<label title="Yes">
                @Html.RadioButton("ShowGrid","1",Model.ShowGrid) Yes
					<img />
			</label>
			<label title="No">
                @Html.RadioButton("ShowGrid","0",!Model.ShowGrid) No
					<img />
			</label>   *@

            <label for="yes" class="CheckBoxLabel">Yes</label>
            <input type="checkbox" class="radio ShowGrid" value="1" name="ShowGrid" @((Model.ShowGrid)?"checked":"") style="width: 2em;height: 2em;" />
            <label for="no" class="CheckBoxLabel">No</label>
            <input type="checkbox" class="radio ShowGrid" value="0" name="ShowGrid" @((!Model.ShowGrid)?"checked":"") style="width: 2em;height: 2em;" />

		</div>
	</div>
</div>
