﻿@{
    ViewBag.Title = "";
    Layout = null;
}

<head>
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />
</head>

<body style="margin:0px">

@*<div class="box" style="height:90%; background-color:lightgrey">*@
<iframe id="frmMain" background-color="#efefef" width="100%" height="100%"  scrolling="no" frameborder="0" marginwidth="0" marginheight="0" style="overflow:hidden; overflow-y: hidden; overflow-x:hidden;" src="@Url.Action("SignDataIndex", "SignData", new {LayoutId = ViewData["LayoutId"], layoutCurrent = ViewData["LayoutCurrent"], base64Image = ViewData["Base64Image"] })" />   
@*</div> *@
</body>