﻿@model  IBI.Web.ViewModels.Admin.SignAddons.SignAddonDataModel
@using Kendo.Mvc.UI

@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common
@using System.Collections
@using System.Data
 

@{
    ViewBag.Title = "Mermaid IBI - Sign Addon Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 

    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />
    <script>

        function ShowScreenshots(layout, image,customerId, mainText,subText,line) {

            var window = $("#ScreenshotWindow").data("kendoWindow");

            $("#ScreenshotWindow").css("overflow", "hidden");
            $("#ScreenshotWindow").css("background-color", "#ddd");



            window.center().open().title("Screenshots").refresh({
                url: "@Url.Action("SignDataFrame", "SignData")",
                data: {
                    LayoutCurrent: layout,
                    Base64Image: image,
                    CustomerId:customerId,
                    MainText: mainText,
                    SubText: subText,
                    Line:line
                }
        });
    }
</script>
}

<!--Kendo UI Window -> used for both Buses and Group's detail-->
    
          @(Html.Kendo().Window()
            .Visible(false)
            .Name("ScreenshotWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Screenshots")
            .Draggable()
            .Width(465)
            .Height(410)
        )



  

<!-- Searched Results - start -->   
<div style ="background-color :lightgray ">
    @{
        
        <b style ="font-size:12px;">Line : @Model.Line</b> <br />
        <b style ="font-size:12px;">Sign Text : @Model.MainText</b> <br />
        <b style ="font-size:12px;">UDP Text : @Model.SubText</b> <br />
        
        Hashtable layoutHashData = Model.Base64Images;
        if( layoutHashData != null)
        {

            foreach (DictionaryEntry dEntery in layoutHashData)
            {
                <b style ="font-size:12px;"><u>@dEntery.Key</u></b> <br /><br />
            
                List<string> base64Images = (List<string>)dEntery.Value;

               int index = 0;
               string sbOutput = "";
                foreach (string image in base64Images)
                {
                    if ( index == 0 )
                    {
                        sbOutput += "<div>";
                    }

                    sbOutput += "<a href='javascript:void(0);' onclick=\"ShowScreenshots('" + dEntery.Key + "','" + image + "','" + Model.CustomerId  + "','" + Model.MainText  + "','" + Model.SubText + "','" + Model.Line + "')\"><img src='data:image/png;base64," + image + "' style='background-color:#cccccc;'/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

                    index = (index + 1) % 3;
                    if (index == 2)
                    {
                        sbOutput += "</div><br><br>";
                    }
                }

                if(index != 2)
                {
                    sbOutput += "</div>";
                }

                @Html.Raw(sbOutput);
            }
        }
        
    }
        
     
        </div>