﻿@model IBI.Web.ViewModels.BusEventLog.ListContainerViewModel


@using MvcContrib.Pagination
 

@{
    ViewBag.Title = "Mermaid IBI - Bus Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    
   <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     
    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />  
}



<h2>Bus Event Logs</h2>
  

<div id="BusStatusLogGrid">


    @{
        MvcContrib.Pagination.IPagination<IBI.Shared.Models.BusTree.BusEventLog> PagedList = Model.PagedList;
        IBI.Web.ViewModels.BusEventLog.FilterViewModel FilterViewModel = Model.FilterViewModel;
        MvcContrib.UI.Grid.GridSortOptions GridSortOptions = Model.GridSortOptions;               
     } 
       
    
    @{
        Html.RenderPartial("SearchFilters", FilterViewModel);
        <br /> 
        Html.RenderPartial("SearchResults", Model); 
          
        <br />
        Html.RenderPartial("Pager", PagedList);  
    } 

</div>       
 


