﻿@model IBI.Web.ViewModels.BusEventLog.ListContainerViewModel

@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid

@{
    Layout = null;
}

<!-- Searched Results - start -->   
    @{
        var grid = Html.Grid(Model.PagedList)
                    .Columns(
                        column=>{
                            column.For(c => c.TimeStamp).Named("Timestamp").Format("{0:" + @IBI.Web.Common.Settings.DateTimeFormat + "}");
                            column.For(c=>c.BusNumber).Named("Bus#");
                            column.For(c => c.ClientType).Named("Client");                            
                            column.For(c => c.Line).Named("Line");
                            column.For(c => c.From).Named("From");
                            column.For(c => c.Destination).Named("Destination");
                            column.For(c => c.IsMaster).Named("Master");
                            column.For(c => c.IsOverwritten).Named("Overwritten");
                            column.For(c => c.JourneyNumber).Named("Journey#");
                            column.For(c => c.StopNumber).Named("Stop#");
                            column.For(c => c.Source).Named("Source");
                            column.For(c => c.Result).Named("Result");
                            column.For(c => c.EventId).Named("Event");
                            column.For(c => c.EventSource).Named("Event Src.");
                            column.For(c => c.EventData).Named("Event Data");
                            column.For(c => c.Zone).Named("Zone");
                            //column.For(c => c.GPS1).Named("GPS1");
                            //column.For(c => c.GPS2).Named("GPS2");
                            column.For(c => c.ExtraData).Named("Ext. Data");
                            }                        
                    )
                    .Sort(Model.GridSortOptions)
                    .Attributes(@class => "table-list");

     }

     @{
         if (Model.PagedList !=null && Model.PagedList.Count() > 0)
         { 
            <span style="float:right; display:inline-block; margin-bottom:5px;">
                 <a href="javascript:void(0)" onclick="SelectText('searchedResults')">Select All</a>
            </span>
        
            <div id="searchedResults">
                @grid 
            </div>
         }
         else 
         {
             <div class="no-data">There are no logs available</div> 
         }
      }

       
    <!-- Searched Results - end -->   