﻿@model IBI.Web.ViewModels.BusEventLog.FilterViewModel
@using IBI.Web.Common

 <!-- Search Filters - Start --> 
 
 <link href="@Url.Content("~/Scripts/custom-datetime/txtdropdown.css")" rel="stylesheet" type="text/css" /> 
   
   
   @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
    }    
    <!--new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "BusStatusLogGrid" }))-->

   @{Html.EnableClientValidation(true);}
   @using (Html.BeginForm("Index", "BusEventLog", FormMethod.Get, new { onsubmit = "beginHtmlSubmit()" }))
   {
    <div class="input-table grey-box" style="width:99%">
        <table cellspacing="5">
            <tr>
                <td>
                    <label>Bus Number</label>
                    @Html.TextBoxFor(model => model.BusNumber, new { @class = "short", size = 4, maxlength = "20" })
                    <br />
                    @Html.ValidationMessageFor(model => model.BusNumber)
                </td>
                 <td>
                    <label>Date</label>
                    @Html.EditorFor(model => model.Date)
                    <br />
                    @Html.ValidationMessageFor(model => model.Date)
                </td>
                <td>    
                    <input type="submit" value="Search"  />
                </td>
            </tr>
        </table> 
       
    </div>
   }
    <!-- Search Filters - End --> 
 