﻿@{
    ViewBag.Title = "ActiveJourneys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{

    <script src="@Url.Content("~/Scripts/angular/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular/libraries/infiniteScroll/ng-infinite-scroll.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/ui-bootstrap-tpls-0.10.0.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/app/directives/app.shared.js")" type="text/javascript"></script> 
    
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />   

   @* <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />    *@
    <link href="@Url.Content("~/Scripts/custom-datetime/txtdropdown.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Scripts/angular/libraries/tagsInput/bootstrap-tagsinput.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/angular/libraries/tagsInput/bootstrap-tagsinput-angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular/libraries/tagsInput/bootstrap-tagsinput.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular/libraries/scrollFix/jquery-scrolltofixed-min.js")"></script>

    <link href="@Url.Content("~/Scripts/angular/libraries/range_slider/angular.rangeSlider.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/angular/libraries/range_slider/angular.rangeSlider.js")"></script>

    <link href="@Url.Content("~/Scripts/angular/libraries/ngQuickDate/ng-quick-date-default-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/angular/libraries/ngQuickDate/ng-quick-date.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/angular/libraries/ngQuickDate/ng-quick-date.min.js")"></script>

    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        //alert('document.ready');
        $('#fixedHeader').scrollToFixed();
    });
</script>
}
    
      
<style>
     ul>li, a{cursor: pointer;}
    .even {
        background-color: #efefef;
        border-bottom:solid 1px #ddd;
    }
    .odd {
        background-color:white;
        border-bottom:solid 1px #ddd;
    }
    .critical {
        background-color:red;
        color: white;
    }

    .filterTable {
        margin-left: 0;
        margin-right: auto;
        width: 98%;
    }

    .filterTable tr {
        vertical-align:top;
    }
    .filterTable th {
       font-weight:bold;
       padding-top:5px;
        text-align:right;
        padding-right:5px;
    }
    .filterTable td { 
    }
    
    .filterTable input.filter {        
      
      border-radius: 4px;
      padding: 5px;
      font-size: 12px;
      height: 30px; vertical-align:top; margin-top:0px;
      min-width: 150px;
      

    }
    .filterTable select.filter {        
      border: 1px solid #bbb;
      border-radius: 4px;
      padding: 5px;
      font-size: 12px;
      height: 30px; vertical-align:top; margin-top:0px;
      min-width: 150px;
    }

    .filterTable span.errorMsg {
        color:red;
        font-weight:bold;
     }

    .timeRangeText {
        font-size:14px; font-weight:bold; margin-top:-20px;
    }

    .preloader {
    /*padding: 50px;*/
    display:run-in; width: 50px;
    background: url('../images/ajax-loader.gif') no-repeat 50% 50% transparent;

    }

    .events-disable{
        pointer-events:none;
    }
    .events-enable{
        pointer-events:unset;
    }

</style>
   
 
     

<div data-ng-app="ibiApp">

<div data-ng-controller="JourneyController">
    <div class="container">
        <div class="container" ng-class="journeys.dataLoaded?'events-enable':'events-disable'">

        <div style="background-color:#efefef; border-radius:5px; border:solid 1px #aaa; padding:10px; display:block">
            <table class="filterTable" cellspacing="5" border="0">
                <tr>
                    <th> Customer </th>
                    <td> <select id="lstCustomers" class="filter" ng-model="selectedCustomer" ng-options="c.CustomerName  for c in customers track by c.CustomerId" ng-change="filterChange()"></select></td>
                    <td colspan="3">
                        <span class="errorMsg">{{journeys.errorMessage}}</span>
                    </td>
                    <td>
                        <input type="checkbox" id="chkUpdate" ng-model="doUpdate" checked="checked" title="Auto Update" /> Auto Update
                    </td>
                </tr>
                <tr>
                    <td colspan="8">&nbsp;</td>
                </tr>
                <tr>
                    <th> Lines </th>
                    <td> <input id="lineFilter" type="text" data-ng-model="lines" ng-change="filterChange()" placeholder="Lines" data-role="tagsinput" /></td>

                    <th> Destinations </th>
                    <td> <input id="destFilter" type="text" data-ng-model="destinations" ng-change="filterChange()" placeholder="Destinations" data-role="tagsinput" /></td>

                    <th> Buses </th>
                    <td> <input id="busFilter" type="text" data-ng-model="buses" ng-change="filterChange()" placeholder="Buses" data-role="tagsinput" " /></td>

                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th> Start time</th>
                    <td><quick-datepicker ng-model='dateFilter.startDate' date-format="MM-dd-yy" time-format="HH:mm" required="true" disable-clear-button="true" on-change="pageIndex=1; list=[]; filterChange()"></quick-datepicker></td>
                    <th> End time</th>
                    <td>
                        <quick-datepicker ng-model='dateFilter.endDate' date-format="MM-dd-yy" time-format="HH:mm" required="true" disable-clear-button="true" on-change="pageIndex=1; list=[]; filterChange()"></quick-datepicker>
                    </td>
                    <td>
                        @* <div range-slider min="0" max="24" step="1" model-min="timeRangeFilter.min" model-max="timeRangeFilter.max" show-values="false"></div>
                            <span class="timeRangeText" style="float:left">{{timeRangeFilter.min}}:00</span> <span class="timeRangeText" style="float:right">{{timeRangeFilter.max}}:00</span>*@
                        <span ng-hide="journeys.dataLoaded" class="preloader" style="float:left; max-width:30px; height:20px;">  </span>
                    </td>
                    <td colspan="3">
                        <span style="vertical-align:middle; display:inline-block">
                            <span ng-hide="journeys.dataLoaded"><b>{{journeys.preloaderMsg}}</b></span>
                        </span>
                    </td>
                </tr>
            </table>

        </div>

        <div data-ng-show="rowCount>0 && list.length>0">
            <span style="float:left; display:inline-block; font-size: small; padding-top:5px; padding-bottom: 5px; margin-bottom:5px;" title="{{pageIndex}}">
                Showing <b>{{ filteredItems }}</b> journeys with {{isFilterApplied ? "applied filters" : "no filters"}}
            </span>
            <span style="float:right; display:inline-block; font-size: small; padding-top:5px; padding-bottom: 5px; margin-bottom:5px;">
                Total journeys in selected time range are:<b>{{ rowCount }}</b>
            </span>
            <br />
        </div>

        <br />
        <br />

        <style>
            .col1 {
                width: 50px;
            }

            .col2 {
                width: 50px;
            }

            .col3 {
                width: 75px;
            }

            .col4 {
                width: 225px;
            }

            .col5 {
                width: 160px;
            }

            .col6 {
                width: 115px;
            }

            .col7 {
                width: 100px;
            }

            .col8 {
                width: 100px;
            }

            .col9 {
                width: 115px;
            }

            .col10 {
                width: 90px;
            }

            .col11 {
                width: 115px;
            }
        </style>

        <div class="table-list" style="font-size:11px;">
            <div data-ng-show="filteredItems > 0">
                <table style="">
                    <thead style="vertical-align:top; padding-left:2px;" id="fixedHeader">
                        @*<th data-ng-style="selectedFilterStyle('Row')"><a data-ng-click="sort_by('Row');" >Sr#&nbsp;<img data-ng-show="isSelectedFilter('Row')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>*@

                    <th class="col1" data-ng-style="selectedFilterStyle('BusNumber')"><a data-ng-click="sort_by('BusNumber');">Bus#&nbsp;<img data-ng-show="isSelectedFilter('BusNumber')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col2" data-ng-style="selectedFilterStyle('Line')"><a data-ng-click="sort_by('Line');">Line&nbsp;<img data-ng-show="isSelectedFilter('Line')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col3" data-ng-style="selectedFilterStyle('JourneyId')"><a data-ng-click="sort_by('JourneyId');">Journey#&nbsp;<img data-ng-show="isSelectedFilter('JourneyId')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col4" data-ng-style="selectedFilterStyle('FromName')"><a data-ng-click="sort_by('FromName');">From&nbsp;<img data-ng-show="isSelectedFilter('FromName')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col5" data-ng-style="selectedFilterStyle('Destination')"><a data-ng-click="sort_by('Destination');">Destination&nbsp;<img data-ng-show="isSelectedFilter('Destination')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col6" data-ng-style="selectedFilterStyle('JourneyStartTime')"><a data-ng-click="sort_by('JourneyStartTime');">Planned Start&nbsp;<img data-ng-show="isSelectedFilter('JourneyStartTime')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col7" data-ng-style="selectedFilterStyle('JourneyStartTime')"><a data-ng-click="sort_by('JourneyStartTime');">Start Time&nbsp;<img data-ng-show="isSelectedFilter('JourneyStartTime')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col8" data-ng-style="selectedFilterStyle('EndTime')"><a data-ng-click="sort_by('EndTime');">End Time&nbsp;<img data-ng-show="isSelectedFilter('EndTime')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col9" data-ng-style="selectedFilterStyle('PlannedEndTime')"><a data-ng-click="sort_by('PlannedEndTime');">Planned End&nbsp;<img data-ng-show="isSelectedFilter('PlannedEndTime')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col10" data-ng-style="selectedFilterStyle('PunctualityData')"><a data-ng-click="sort_by('PunctualityData');">Punctuality&nbsp;<img data-ng-show="isSelectedFilter('PunctualityData')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>
                    <th class="col11" data-ng-style="selectedFilterStyle('LastUpdated')"><a data-ng-click="sort_by('LastUpdated');">Last Update&nbsp;<img data-ng-show="isSelectedFilter('LastUpdated')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>

                    @*<th data-ng-style="selectedFilterStyle('JourneyStartTime')"><a data-ng-click="sort_by('JourneyStartTime');" >jStartTime&nbsp;<img data-ng-show="isSelectedFilter('JourneyStartTime')" data-ng-src="../images/sortArrow_{{sortOrder}}.png" /></a></th>*@

                    </thead>
                    @*<tbody infinite-scroll='fetchData(pageIndex+1)' infinite-scroll-distance='0' infinite-scroll-immediate-check="false">*@
                    <tbody>
                        <tr data-ng-repeat="data in filtered = (list | filter | orderBy : predicate : reverse)" @*| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"*@
                            data-ng-class-odd="'odd'" data-ng-class-even="'even'" ng-bind-html="data.Destination | unsafe">

                            @*<td data-ng-style="selectedFilterStyle('Row')">{{data.Row}}</td>*@

                            <td class="col1" data-ng-style="selectedFilterStyle('BusNumber')">{{data.BusNumber}}</td>
                            <td class="col2" data-ng-style="selectedFilterStyle('Line')">{{data.Line}}</td>
                            <td class="col3" data-ng-style="selectedFilterStyle('JourneyId')">{{data.JourneyId}}</td>
                            <td class="col4" data-ng-style="selectedFilterStyle('FromName')">{{data.FromName}}</td>
                            <td class="col5" data-ng-style="selectedFilterStyle('Destination')" bind-html-unsafe="data.Destination"></td>
                            <td class="col6" data-ng-style="selectedFilterStyle('JourneyStartTime')">{{toDate(data.PlannedStartTime) | date:'MM-dd HH:mm:ss'}}</td>
                            <td class="col7" data-ng-style="selectedFilterStyle('JourneyStartTime')">{{toDate(data.StartTime) | date:'HH:mm:ss'}}</td>
                            <td class="col8" data-ng-style="selectedFilterStyle('EndTime')">{{toDate(data.EndTime) | date:'HH:mm:ss'}}</td>
                            <td class="col9" data-ng-style="selectedFilterStyle('PlannedEndTime')">{{toDate(data.PlannedEndTime) | date:'MM-dd HH:mm:ss'}}</td>
                            <td class="col10" data-ng-style="setCriticalCss(data.PunctualityData<0)"><span data-ng-show="data.PunctualityData!=0">{{data.PunctualityData}}</span></td>
                            <td class="col11" data-ng-style="selectedFilterStyle('LastUpdated')">{{toDate(data.LastUpdated) | date:'MM-dd HH:mm:ss'}}</td>

                            @*<td data-ng-style="selectedFilterStyle('JourneyStartTime')">{{toDate(data.JourneyStartTime) | date:'HH:mm:ss'}}</td>*@
                        </tr>
                    </tbody>
                </table>
            </div>

            @*{{list.length * 2}}<br />
                {{(pageIndex*pageSize)}}<br />
                {{((list.length * 2) >= (pageIndex * pageSize))}}*@

            @*<div style="margin-top:10px;"  data-ng-show="journeys.loadingNextPage && ((list.length * 2) >= (pageIndex * pageSize))">
                    <span class="preloader" style="float:left; max-width:50px; height:30px;">  </span>
                    <br />
                    <span><b>... Loading more journeys ...</b></span>
                </div>*@

            <div class="col-md-12" data-ng-show="list.length == 0 && selectedCustomer.CustomerId">
                <div class="col-md-12">
                    <h4>No journeys found</h4>
                </div>
            </div>


            <a style="display:none" href="javascript:void(0)" ng-click="fetchData(pageIndex+1)">Load more ...</a>


            @*  <div class="col-md-12" data-ng-show="filteredItems > 0" style="border:solid 1px #808080">
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                    <div style="float:right;" class="col-md-2">
                        page size:
                    <select data-ng-model="entryLimit" class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div> *@


        </div>
    </div>
</div>


@*      <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
                <div data-ng-repeat="item in reddit.items">
                    {{item.Row}} - {{item.BusNumber}} - {{item.JourneyId}} 
                    <br />
                </div>
        </div>*@
</div>
