﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

@model IBI.Web.ViewModels.UserAccounts.AccountInfoModel

@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    ViewBag.Title = "Account Settings";
    Layout = null;
}

<style type="text/css">
    div.options {
            left: -20px;
            position: relative;
        }
    div.options > label > input {
        visibility: hidden;
        display: inline-block;

    }

    div.options > label {
        display: inline-block;
        height: 27px;
        width: 70px;
        text-align: left;
    }

    div.options > label > img {
        display: inline-block;
        padding: 0px;
        height:30px;
        width:30px;
        background: white;
        border-radius: 6px;
        position: relative;
        top: -5px;
    }

    div.options > label > input:checked +img {  
        background-image: url(../images/destinations/inactive.png);
        background-repeat: no-repeat;
        background-position:center center;
        background-color: white;
    }
</style>

<script type="text/javascript">
    function FormSuccess(data) {
        var result = data.PostResult;
        var errMsg = data.ErrorMessage;
        if (result == 'true') {
            jAlert("Account Settings have been Saved Successfully", "Success");
            bReloadTree = true;
            $('#AccountSettings').data("kendoWindow").close();
        }
        else {
            jAlert(errMsg, "Failure");
        }

        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
    }

    function RefreshMe(password) {
        $.ajax({
            url: "@Url.Action("LogOff1", "Account")",
        });
        $('#ChangePassword').data("kendoWindow").close();
        window.$("#AccountSettings").data("kendoWindow").close();
        ReLogin();
    }

    $(document).ready(function () {
        $('input[type=submit]').attr("disabled", true).addClass("disabled");
        $(".inputbox1").keyup(OnEnabledSubmit);
        $('#closePopup').click(function () {
            bReloadTree = true;
            $('#AccountSettings').data("kendoWindow").close();
            $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
        })
    });

    function OnEnabledSubmit(e) {
        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
    }
    function CloseAccountSettingsWindow() {
        window.$("#AccountSettings").data("kendoWindow").close();
        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
    }
</script>
 <script type="text/javascript">
     function OpenChangePasswordWindow() {

         var window = $("#ChangePassword").data("kendoWindow");

         window.title(false);
         $("#ChangePassword").parent().css("padding-top", "0px");


         $("#ChangePassword").css("overflow", "hidden");
         $("#ChangePassword").css("background-color", "#ddd");

         window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
             url: "@Url.Action("ChangePassword", "Account")",
                });
        }
        </script>   

        @(Html.Kendo().Window()
            .Visible(false)
            .Name("ChangePassword")
            .Modal(true)
            .Scrollable(false)
            .Draggable()
            .Width(415)
            .Height(240)
        ) 


<div id="AjaxContents" class="input-table">
    <div>
        @{
            var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }
        @using (Ajax.BeginForm("EditAccountSettings", "Account", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess", OnBegin = "beginAjaxSubmit" }))
        {
            @Html.ValidationSummary(true, "Account Settings couldn't be saved. Please correct the errors and try again.")

            <table style="width: 100%; height: 100%; margin: 0 auto;position: relative;right: -8px;">
                <tr >
                    <td colspan="2" style="text-align: left;" class="label">Modify Account Settings</td>
                    <td style="text-align: right">
                        <img src="~/Images/infotainment/close.png" onclick="CloseAccountSettingsWindow()" />
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Login Name</label>
                    </td>
                    <td>
                        <label>@(Model.Username)</label>
                    </td>
                    <td>
                         @Html.HiddenFor(model => model.Username)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Full Name</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.FullName, new { @class="inputbox1" , placeholder="Full Name" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.FullName)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Short Name</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ShortName, new { @class="inputbox1" , placeholder="Short Name" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.ShortName)
                    </td>
                </tr>
                
                <tr class="tr">
                    <td class="title">
                        <label>Phone Number</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class="inputbox1" , placeholder="Phone Number" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Email</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Email, new { @class="inputbox1" , placeholder="Email" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Company</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Company, new { @class="inputbox1" , placeholder="Company" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Company)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Password</label>
                    </td>
                    <td style ="vertical-align: middle;">
                        @{
                            string domain = Model.Domain;
                            if (string.IsNullOrEmpty(domain))
                            {
                                <a href="javascript:void(0);" onclick="OpenChangePasswordWindow()">Change Password</a>
                            }
                            else
                            {
                                <label>Domain validation, cannot change</label>
                            }
                        }
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div>
                            <div style="display: inline-block; position: relative; top: -16px;">
                                <input class="savebutton" type="submit" value="Save" />
                            </div>

                            <div style="display: inline-block; padding-right: 10px">
                                <a href="#" id="closePopup" style="text-decoration: none" onclick="CloseAccountSettingsWindow()">
                                    <div class="cancelbutton">Cancel</div>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <!--inputTable - end-->
</div>
<!--AjaxContents - end-->



