﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

@model IBI.Web.ViewModels.UserAccounts.AccountSettingsModel

@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

<style type="text/css">
    div.options {
            left: -20px;
            position: relative;
        }
    div.options > label > input {
        visibility: hidden;
        display: inline-block;

    }

    div.options > label {
        display: inline-block;
        height: 27px;
        width: 70px;
        text-align: left;
    }

    div.options > label > img {
        display: inline-block;
        padding: 0px;
        height:30px;
        width:30px;
        background: white;
        border-radius: 6px;
        position: relative;
        top: -5px;
    }

    div.options > label > input:checked +img {  
        background-image: url(../images/destinations/inactive.png);
        background-repeat: no-repeat;
        background-position:center center;
        background-color: white;
    }
</style>

<script type="text/javascript">
    function FormSuccessChangePassword(data) {
        var result = data.PostResult;
        var errMsg = data.ErrorMessage;
        if (result == 'true') {
            jAlert("Password have been changed! Please login again", "Success", function () {
                RefreshMe(errMsg);
            });          
        }
        else {
            jAlert(errMsg, "Failure");
        }
        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
    }

    $(document).ready(function () {
        $('#CancelPopup').click(function () {
            CloseWindow();
        })
    });

    $(document).ready(function () {
    });
    function CloseWindow() {
        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
        window.$("#ChangePassword").data("kendoWindow").close();
    }
</script>
 

<!--jAlert-->
<script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" />

<div id="AjaxContents" class="input-table">
    <div>
        @{
            var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }
        @using (Ajax.BeginForm("SavePassword", "Account", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccessChangePassword", OnBegin = "beginAjaxSubmit" }))
        {
            @Html.ValidationSummary(true, "Account Settings couldn't be saved. Please correct the errors and try again.")

            <table style="width: 100%; height: 100%; margin: 0 auto;position: relative;right: -8px;">
                <tr >
                    <td colspan="2" style="text-align: left;" class="label">Change Password</td>
                    <td style="text-align: right">
                        <img src="~/Images/infotainment/close.png" onclick="CloseWindow()" />
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Old Password</label>
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.OldTypePassword, new { @class="inputbox1" ,placeholder="Input Old Password" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.OldTypePassword)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>New Password</label>
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.NewPassword, new { @class="inputbox1" ,placeholder="Input New Password" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Confirm Password</label>
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class="inputbox1" ,placeholder="Input Confirm Password" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.HiddenFor(m => m.Username)
                        @Html.HiddenFor(m => m.OldPassword)
                    </td>
                    <td>
                        <div>
                            <div style="display: inline-block; position: relative; top: -16px;">
                                <input class="savebutton" type="submit" value="Save" />
                            </div>

                            <div style="display: inline-block; padding-right: 10px">
                                <a href="#" id="CancelPopup" style="text-decoration: none">
                                    <div class="cancelbutton">Cancel</div>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <!--inputTable - end-->
</div>
<!--AjaxContents - end-->