﻿@model List<IBI.Shared.Models.Accounts.UserPage>

@{
    Layout = null;
}

    @{
        string page = HttpContext.Current.Request["URL"];
        if (page.StartsWith("/IBI/"))
        {
            page = page.Replace("/IBI/", "/");
        }
    } 
    
    @if (Model != null)
    {
        foreach (var module in Model.Where(m=>m.ParentPageId==0 && m.Read && m.ShowMenu)) 
        {
        
            <ul class="@(page.StartsWith(module.MenuInitials) ? "current" : "select")" ><li><a href="@Url.Action(module.Action, module.Controller)"><b>@module.PageName</b><!--[if IE 7]><!--></a><!--<![endif]-->
		    <!--[if lte IE 6]><table><tr><td><![endif]-->
		    <div class="@(page.StartsWith(module.MenuInitials) ? "select_sub show" : "select_sub")">
			    <ul class="sub">
                    @foreach (var subPage in Model.Where(p => p.ParentPageId == module.PageId && p.Read && p.ShowMenu))                
                    {
                        <li class="@(page.StartsWith(@subPage.Path) ? "sub_show" : "")"><a href="@Url.Action(subPage.Action, subPage.Controller)">@subPage.PageName</a></li>				    
                    }			              	
			    </ul>
		    </div> 
		    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
		    </li>
		    </ul>
		
		    <div class="nav-divider">&nbsp;</div>

        } 
    }