﻿pre {
    font-family: Tahoma; font-size:12px;
}

 .OFFCell{
		background-color: black; 
		width: 2px; 
		height: 2px;
		float:left;
	}
/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #ff4500;
    font-size: 1em;
    font-weight: normal;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #ff4500;
}

/* styles for validation helpers */
.field-validation-error {
    color: #ff4500;
    font-weight: normal;
    float: left; 
    font-size:12px;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #ff4500;
}

.validation-summary-errors {
    color: #ff4500;
    font-weight: normal;
    font-size: 1em;
}

.validation-summary-errors ul {
    list-style:none;
    list-style-position:inside;
}

.validation-summary-valid {
    display: none;
}

.errorBox{background-color: #f1f1f1; color: #454545; border:solid 2px #dd4545; border-radius: 5px;margin-top:5px; margin-bottom:5px;padding:5px;}


/*BUTTONS*/
 input[type="submit"].input-button,
 input[type="button"].input-button
{ 
    background-color: #555;  
    border: 2px solid #333;
	border-radius: 3px;
	color: #fff;
	display: block;
	padding: 6px; text-align:center; vertical-align:middle;	
	font-size:14px; min-width: 70px;
	cursor: hand; cursor: pointer; 
    }


.grey-box
{
    border: solid 1px #aaa;
    background-color: #efefef; 
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 15px;
    }
    
.box
{
    border: solid 1px #aaa;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 15px;
    }
    
.input-table
{   
    color::#444;        
    font-size: 12px; font-family:Arial;
    width:98%; 
    height:98%; 
    padding:4px;
    text-align:center;  
    margin:0 auto;
}

.input-table label{
 font-size: 12px;  font-weight:bolder; color: #555; vertical-align: text-bottom; display: inline-block; margin-right: 6px;
}

.input-table label.block{
 font-size: 12px;  font-weight:bolder; color: #555; vertical-align: text-bottom; display: block; text-align:left;
}

.input-table fieldset {border: none;}
.input-table table {text-align: left;}    
.input-table table td{ padding:5px; vertical-align: top; color:#444; }
.input-table table td.title{  font-size: 12px; text-align:right; padding: 5px; font-weight:bolder; color: #94B52C; vertical-align:top;}
.input-table table td.label, .input-table label
{  font-size: 12px; text-align:right; padding: 5px; font-weight:bolder; color: #555; vertical-align:top;}

.input-table table td.left {text-align:left;}
.input-table input[type="text"] ,
.input-table input[type="password"], .input-table input[type="datetime"]  
{
    /*background: url(../../images/login/inp_login.gif) no-repeat;*/
    background-color:#fff; 
	border: solid 1px #aaa;
	border-radius: 3px;
	color: #333;
	font-size: 12px;
	padding: 3px 3px 3px 5px;
	width: 204px;    
	vertical-align:top;
	/*height: 25px;*/
    }

 .input-table select
{
    /*background: url(../../images/login/inp_login.gif) no-repeat;*/
    background-color:#fff; 
	border: solid 1px #aaa;
	border-radius: 3px;
	color: #333;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
	width: 204px;    
	vertical-align:top;
	/*height: 25px;*/
    }
    

.input-table input[type="text"].timedropdown
{
    width: 85px; display: inline-block; vertical-align:top;
}
.input-table input[type="text"].mydatepicker
{
    width: 70px; display: inline-block; vertical-align:top;
}

.input-table input[type="text"].short
{
    width: 70px; display: inline-block; vertical-align:top;
}

 
.input-table textarea 
{
    background-color:#fff; 
	border: solid 1px #aaa;
	border-radius: 3px;
	color: #333;
	font-size: 12px; font-family: Arial;
	height: 150px;
	padding: 3px 3px 3px 5px;
	width: 300px;
    
    }
    
 
.input-table input[type="button"]
{
    display: inline-block; color: #000; background-color: #8da341;
    border-radius: 3px;
    padding-left: 6px; padding-right:6px;   
    padding-top: 2px; padding-bottom: 2px; 
    border: solid 1px #666;
    font-size:13px; text-align:center; min-width:70px;
    margin-right: 5px;  vertical-align:middle;
    cursor: hand; cursor: pointer;	
}

.input-table input[type="submit"] 
{
    display: inline-block; color: #000; background-color: #8da341;
    border-radius: 3px;
    padding-left: 6px; padding-right:6px;   
    padding-top: 2px; padding-bottom: 2px; 
    border: solid 1px #666;
    font-size:13px; text-align:center; min-width:70px;
    margin-right: 5px;  vertical-align:middle;
    cursor: hand; cursor: pointer;	margin-top:19px;
}

.input-table a.button
{
    display: inline-block; color: #000; background-color: #92a843;
    border-radius: 3px;
    padding-left: 3px; padding-right:3px;   
    padding-top: 2px; padding-bottom: 1px; 
    border: solid 1px #666;
    font-size:13px; text-align:center; min-width: 70px;
    margin-right: 5px; height: 18px; vertical-align:middle;
    cursor: hand; cursor: pointer;	margin-top: 19px;
}
.cancelbutton 
{
    background-color: #a3a3a3;
    display:table-cell;
    font-weight: bold;
    text-align:center;
    vertical-align: middle;
    font-size: 16px;
    width: 97px;
    height: 38px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    text-decoration: none;
} 

.deletebutton
{   /*
    display: inline-block; color: #000; background-color: #8da341;
    border-radius: 3px;
    padding-left: 6px; padding-right:6px;   
    padding-top: 2px; padding-bottom: 2px; 
    border: solid 1px #666;
    font-size:13px; text-align:center; min-width:70px;
    margin-right: 5px;  vertical-align:middle;
    cursor: hand; cursor: pointer;	
*/
   
    display:table-cell;
    font-weight: bold;
    text-align:center;
    vertical-align: middle;
    font-size: 16px;
    background-color: #a14240;
    width: 97px;
    height: 38px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.savebutton
{
    display:table-cell;
    font-weight: bold;
    text-align:center;
    vertical-align: middle;
    font-size: 16px !important;
    background-color: #92a843;
    width: 100px;
    height: 38px;
    border-radius: 2px;
    color: white  !important;
}

.input-table input[type="submit"].disabled,
.input-table input[type="button"].disabled
{
    display: inline-block; color: #ccc; background-color: #eee;
    border-radius: 3px;
    padding-left: 6px; padding-right:6px;   
    padding-top: 2px; padding-bottom: 2px; 
    border: solid 1px #999;
    font-size:13px; text-align:center; min-width:70px;
    margin-right: 5px;  vertical-align:middle;
    cursor: hand; cursor: pointer;	
}
.inputbox{
	height: 27px;
	width: 300px !important;
	border-radius: 5px;
	
}
.inputbox1{
	height: 27px;
	width: 300px;
	border-radius: 5px;
    color:#bebebe
}

.inputbox2{
	height: 19px;
	width: 170px;
	border-radius: 5px;
    color:#bebebe;
    position:relative;
    top:1px
}

.inputboxschedule{
	height: 19px;
	width: 140px;
	border-radius: 5px;
    color:#bebebe;
    position:relative;
    top:1px

}


.inputradiobutton{
	height: 28px;
	width: 30px !important;
	border-radius: 5px;
}
.input-table buttonStyle {
    width: 100px;
    height: 40px;
    background-color: #92a843;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.gridTable
{
    border: solid 2px #444;
    background-color: #575757;
    color::efefef;    
    border-radius: 3px;
    font-size: 14px; font-family: Tahoma; 
    width:99%;
   /* margin:5px;
    padding:5px;*/
    text-align:center;
    
}
    
.gridTable table {text-align: left;}    
.gridTable table thead td{ padding:5px; vertical-align:top; color:#efefef; background-color:#000; border: solid 1px #ccc; }
.gridTable table td{ padding:5px; vertical-align:top; color:#efefef; font-size: small; }
.gridTable table td.title{  text-align:center; padding: 5px; font-weight:bolder; color: #9b9b9b; vertical-align=top;}

.gridTable a{color:#94B52C;}
.gridTable input[type="text"] ,
.gridTable input[type="password"], .gridTable input[type="datetime"]
{
    background-color:#efefef; 
	border: solid 2px #bbb;
	border-radius: 3px;
	color: #242424;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
    
    }

.gridTable textarea
{
    background-color:#efefef; 
	border: solid 2px #bbb;
	border-radius: 3px;
	color: #242424;
	font-size: 16px;
	height: 150px;
	padding: 6px 6px 0 10px;
	width: 300px;
    
    }

    
.gridTable input[type="submit"],
.gridTable input[type="button"]
{
    background-color: #343434; 
	border: solid 2px #232323;
	border-radius: 3px;
	color: #f0f0f0;
	cursor: pointer;
	display: block;
	padding: 6px; text-align:center; vertical-align:middle;	
	font-size:14px; min-width: 70px;
	
    }     

.menu-buttons-h{}
.menu-buttons-h ul li{display: inline; list-style-type:none; list-style-position:inside; list-style-image:none; max-width:100px; min-width:50px; margin-bottom:5px;}
.menu-buttons-h ul li a  
{
    display: inline-block; color: #000; background-color: #ddd;
    border-radius: 3px; padding: 3px; border: solid 1px #666;
    text-align:center; margin-right: 5px;
    }
    
.menu-buttons-v{}
.menu-buttons-v ul li{display: block; list-style-type:none; list-style-position:inside; list-style-image:none; max-width:100px; min-width:50px; margin-bottom:5px;}
.menu-buttons-v ul li a  
{
    display: block; color: #000; background-color: #ddd; 
    border-radius: 3px; padding: 3px; border: solid 1px #666;
    text-align:center; margin-right: 5px;
    }
    
/*To Trim long texts*/    
.ellipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    }
    
.vtc-screen-dumb
{
   /* width:150px;*/
    max-width: 150px;
    max-height: 90px;
	
}

.screenshot
{
	/*min-width:250px;	*/
    max-width: 400px; 	
    max-height: 230px; 
}

.archive
{
    background-image:url('images/archive.png');
    background-position: top left;
    max-width: 20px;
    max-height: 20px;
    cursor: hand;
    cursor:pointer;
    }

.RedButton 
{
   display:inline-block; color:white; background-color:#a84040; border-radius:2px; border-bottom:solid 1px #bbb; padding: 8px; padding-left:12px; padding-right:12px; text-align:center; font-weight:normal; font-size:larger;  
}

.GreenButton 
{
   display:inline-block; color:white; background-color:#92a10f; border-radius:2px; border-bottom:solid 1px #bbb; padding: 8px; padding-left:12px; padding-right:12px; text-align:center; font-weight:normal; font-size:larger; 
}

.GrayButton 
{
   display:inline-block; color:white; background-color:#aaa; border-radius:2px; border-bottom:solid 1px #bbb; padding: 8px; padding-left:12px; padding-right:12px; text-align:center; font-weight:normal; font-size:larger;  
}

.GreenButtonSmall{
    display: inline-block;
    color: #000;
    background-color: #8da341;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #666;
    font-size: 13px;
    text-align: center;
    min-width: 70px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: hand;
    cursor: pointer;
}

.RedButtonSmall{
    display: inline-block;
    color: #000;
    background-color: #a84040;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #666;
    font-size: 13px;
    text-align: center;
    min-width: 70px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: hand;
    cursor: pointer;
}

.GrayButtonSmall{
    display: inline-block;
    color: #000;
    background-color: #aaa;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #666;
    font-size: 13px;
    text-align: center;
    min-width: 70px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: hand;
    cursor: pointer;
}

.ibiForm {
}

    .ibiForm span.title {
        margin-top:1px; font-weight:bold; font-size:9pt; color:#575757; display:inline-block;
    }
    .ibiForm select {
        border:solid 1px white; border-radius: 3px; padding:3px; width:200px;
    }	
