﻿.MainPageView{
		border-radius: 3px;
		background-color: white;
		width: auto;
		height: 50px;
    }
	.Previous{
		display: inline-block;
		font-family:Arial;
		font-size: 14px;
	}
	.Next{
		display: inline-block;
		font-family:Arial;
		font-size: 14px;
        padding-right: 3px;
        float:right;
        position: relative;
        top:2px;
	}
	.FirstLast{
		display: inline-block;
		font-family:Arial;
		font-size: 14px;
		position: relative;
        left: -14px;
	}
	.InnerContainer{
		position: relative;
		top: 13px;
		padding-left: 5px;
		width: auto;
	}
    .divFirstLast{
        display: inline-block;
         width: 90%; 
         text-align: center
    }
    a { color: inherit;
        text-decoration:none
    }
