﻿@{
    ViewBag.Title = "Mermaid IBI System - Journey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{

  <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/slickGrid/slick.grid.css")" />
  <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/slickGrid/slick.pager.css")" />
  <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/slickGrid/jquery-ui-1.8.16.custom.css")" />
  <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/slickGrid/examples.css")" />
  <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/slickGrid/slick.columnpicker.css")" />
   <style>
    .cell-title {
      font-weight: bold;
      width: 147px;
    }

    .cell-title1 {
      width: 115px;
    }

    .cell-title2 {
      width: 103px;
    }

    .cell-title3 {
      width: 75px;
      font-weight: bold;
    }

    .cell-effort-driven {
      text-align: center;
    }

    .cell-selection {
      border-right-color: silver;
      border-right-style: solid;
      background: #f5f5f5;
      color: gray;
      text-align: right;
      font-size: 10px;
      width:27px;
    }

    .slick-row.selected .cell-selection {
      background-color: transparent; /* show default selected row background */
    }
  </style>
}

<div style="position:relative">
  <div style="width:1200px;">
    <div class="grid-header" style="width:100%">
      <label></label>
      <span style="float:right" class="ui-icon ui-icon-search" title="Toggle search panel"
            onclick="toggleFilterRow()"></span>
    </div>
    <div id="myGrid" style="width:100%;height:500px;"></div>
    <div id="pager" style="width:100%;height:20px;"></div>
  </div>
</div>

<div id="inlineFilterPanel" style="display: none;background:#dddddd;padding:3px;color:black;">
  Bus Number : <input type="text" id="txtbusNumber">&nbsp;&nbsp;&nbsp;
  Date : &nbsp;<input type="text" id="datepicker" />&nbsp;&nbsp;
  <div style="width:100px;display:inline-block;" >
    <button id="btnSearch">Search</button>
  </div>
    <button id="btnSelectRows">Select first 10 rows</button>
</div>

<script src="@Url.Content("~/Scripts/slickGrid/firebugx.js")" type="text/javascript"></script>
<!-- <script src="@Url.Content("~/Scripts/slickGrid/jquery-1.7.min.js")" type="text/javascript"></script> -->
<script src="@Url.Content("~/Scripts/slickGrid/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/jquery.event.drag-2.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.formatters.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.editors.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.rowselectionmodel.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.grid.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.dataview.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/slickGrid/slick.columnpicker.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")" type="text/javascript"></script>


<script>

    function formatter(row, cell, value, columnDef, dataContext) {
        return value;
    }

    var dataView;
    var grid;
    var data = [];
    var columns = [
      { id: "line", name: "Line", field: "line", width: 25, behavior: "select", cssClass: "cell-selection", editor: Slick.Editors.Text, sortable: true },
      { id: "bus", name: "Bus", field: "bus", width: 89, minWidth: 89, maxWidth: 89, editor: Slick.Editors.Text, sortable: true },
      { id: "journey", name: "Journey", field: "journey", width: 89, minWidth: 89, maxWidth: 89, editor: Slick.Editors.Text, sortable: true },
      { id: "date", name: "Date", field: "date", width: 89, minWidth: 89, maxWidth: 89, editor: Slick.Editors.Text, sortable: true },
      { id: "from", name: "From", field: "from", cssClass: "cell-title", width: 125, editor: Slick.Editors.Text, sortable: true },
      { id: "to", name: "To", field: "to", cssClass: "cell-title", width: 125, editor: Slick.Editors.Text, sortable: true },
      { id: "plannedDeparture", name: "Planned Departure", cssClass: "cell-title1", field: "plannedDeparture", width: 100, editor: Slick.Editors.Text, sortable: true },
      { id: "actualDeparture", name: "Actual Departure", cssClass: "cell-title1", field: "actualDeparture", width: 100, editor: Slick.Editors.Text, sortable: true },
      { id: "plannedArrival", name: "Planned Arrival", field: "plannedArrival", cssClass: "cell-title2", width: 90, editor: Slick.Editors.Text, sortable: true },
      { id: "actualArrival", name: "Actual Arrival", field: "actualArrival", cssClass: "cell-title2", width: 90, editor: Slick.Editors.Text, sortable: true },
      { id: "detail", name: "Detail", field: "detail", cssClass: "cell-title3", width: 70, formatter: formatter }
    ];

    var options = {
        editable: false,
        enableAddRow: false,
        enableCellNavigation: true,
        asyncEditorLoading: true,
        forceFitColumns: true,
        topPanelHeight: 25
    };

    var sortcol = "bus";
    var sortdir = 1;
    var searchString = "";

    function requiredFieldValidator(value) {
        if (value == null || value == undefined || !value.length) {
            return { valid: false, msg: "This is a required field" };
        }
        else {
            return { valid: true, msg: null };
        }
    }

    function myFilter(item, args) {

        if (args.searchString != "" && item["bus"].indexOf(args.searchString) == -1) {
            return false;
        }

        return true;
    }

    function percentCompleteSort(a, b) {
        return a["percentComplete"] - b["percentComplete"];
    }

    function comparer(a, b) {
        var x = a[sortcol], y = b[sortcol];
        return (x == y ? 0 : (x > y ? 1 : -1));
    }

    function toggleFilterRow() {
        grid.setTopPanelVisibility(!grid.getOptions().showTopPanel);
    }

    $(".grid-header .ui-icon")
        .addClass("ui-state-default ui-corner-all")
        .mouseover(function (e) {
            $(e.target).addClass("ui-state-hover")
        })
        .mouseout(function (e) {
            $(e.target).removeClass("ui-state-hover")
        });


    function GetJourneys(busNumber, journeyDate) {
        var jresult;
        $.ajax({
            url: "../Statistics/Journey",
            type: "post",
            data: {
                busNumber: busNumber,
                journeyDate: journeyDate
            },
            beforeSend: function () {
                $("#myGrid").html("<p>Please Wait...</p>");
            }
        })
        .done(function (data1) {
            $('#myGrid').empty();
            jresult = data1;
            data = [];
            var count = 0;
            for (var i in jresult) {
                var d = (data[count] = {});
                d["id"] = "id_" + count;
                d["line"] = jresult[i].Line;
                d["bus"] = jresult[i].BusNumber;
                d["journey"] = jresult[i].JourneyNumber;

                var jsonDate = jresult[i].StartTime;
                var value = "";
                if (jsonDate != null) {
                    value = new Date(parseInt(jsonDate.substr(6)));
                    //value = value .getUTCDate();
                    ret = value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();
                    //alert(value.getFullYear());
                    if (value.getFullYear() == "1") {
                        jsonDate = jresult[i].PlannedDepartureTime;
                        if (jsonDate != null) {
                            value = new Date(parseInt(jsonDate.substr(6)));
                            //value = value .getUTCDate();
                            ret = value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();
                            if (value.getFullYear() == "1")
                                ret = "";

                        }
                        else
                            ret = "";
                    }
                }
                else {
                    jsonDate = jresult[i].PlannedDepartureTime;
                    if (jsonDate != null) {
                        value = new Date(parseInt(jsonDate.substr(6)));
                        //value = value .getUTCDate();
                        ret = value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();
                        if (value.getFullYear() == "1")
                            ret = "";

                    }
                    else
                        ret = "";
                }



                //var value = new Date(parseInt(jsonDate.substr(6)));
                //value = value .getUTCDate();
                //var ret = value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();

                d["date"] = ret;
                d["from"] = jresult[i].StartPoint;
                d["to"] = jresult[i].Destination;

                //jsonDate = jresult[i].PlannedDepartureTime;
                //value = new Date(parseInt(jsonDate.substr(6)));
                //ret = value.getHours() + ":" + value.getMinutes();

                jsonDate = jresult[i].PlannedDepartureTime;
                if (jsonDate != null) {
                    value = new Date(parseInt(jsonDate.substr(6)));
                    //value = value .getUTCDate();
                    ret = value.getHours() + ":" + value.getMinutes();
                    if (value.getFullYear() == "1")
                        ret = "";

                }
                else
                    ret = "";

                d["plannedDeparture"] = ret; //jresult[i].PlannedDepartureTime;

                //jsonDate = jresult[i].StartTime;
                //value = new Date(parseInt(jsonDate.substr(6)));
                //ret = value.getHours() + ":" + value.getMinutes();

                jsonDate = jresult[i].StartTime;
                if (jsonDate != null) {
                    value = new Date(parseInt(jsonDate.substr(6)));
                    //value = value .getUTCDate();
                    ret = value.getHours() + ":" + value.getMinutes();
                    if (value.getFullYear() == "1")
                        ret = "";

                }
                else
                    ret = "";

                d["actualDeparture"] = ret//jresult[i].StartTime;

                //jsonDate = jresult[i].PlannedArrivalTime;
                //value = new Date(parseInt(jsonDate.substr(6)));
                //ret = value.getHours() + ":" + value.getMinutes();

                jsonDate = jresult[i].PlannedArrivalTime;
                if (jsonDate != null) {
                    value = new Date(parseInt(jsonDate.substr(6)));
                    //value = value .getUTCDate();
                    ret = value.getHours() + ":" + value.getMinutes();
                    if (value.getFullYear() == "1")
                        ret = "";

                }
                else
                    ret = "";

                d["plannedArrival"] = ret; //jresult[i].PlannedArrivalTime;

                jsonDate = jresult[i].EndTime;
                if (jsonDate != null) {
                    value = new Date(parseInt(jsonDate.substr(6)));
                    //value = value .getUTCDate();
                    ret = value.getHours() + ":" + value.getMinutes();
                    if (value.getFullYear() == "1")
                        ret = "";

                }
                else
                    ret = "";

                d["actualArrival"] = ret; //jresult[i].EndTime;

                d["detail"] = "<a class='link' href='StatisticsPunctuality?busNumber=" + jresult[i].BusNumber + "&journeyDate=" + d["date"] + "&journeyId=" + jresult[i].JourneyNumber + "'>Detail</a>"; //"<a href='#' tabindex='0'>Task</a> " + count;

                count++;
            }

            dataView = new Slick.Data.DataView({ inlineFilters: true });
            grid = new Slick.Grid("#myGrid", dataView, columns, options);
            grid.setSelectionModel(new Slick.RowSelectionModel());

            var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));
            var columnpicker = new Slick.Controls.ColumnPicker(columns, grid, options);

            // move the filter panel defined in a hidden div into grid top panel
            //$("#inlineFilterPanel")
            //    .appendTo(grid.getTopPanel())
            //    .show();
            //alert($("#inlineFilterPanel1").html());

            var filterDiv = $("#inlineFilterPanel");
            if (filterDiv.html() == null) {
                filterDiv = "<div id='inlineFilterPanel' style='background:#dddddd;padding:3px;color:black;'>";
                filterDiv += "Bus Number : <input type='text' id='txtbusNumber'>&nbsp;&nbsp;&nbsp;";
                filterDiv += "Date : &nbsp;<input type='text' id='datepicker'/>&nbsp;&nbsp;";
                filterDiv += "<div style='width:100px;display:inline-block;' >";
                filterDiv += "  <button id='btnSearch'>Search</button>";
                filterDiv += " </div>";
                filterDiv += " <button id='btnSelectRows'>Select first 10 rows</button>";
                filterDiv += "</div>";
            }
            else
                filterDiv.show();
            $(".slick-top-panel").append(filterDiv);
            toggleFilterRow();



            grid.onCellChange.subscribe(function (e, args) {
                dataView.updateItem(args.item.id, args.item);
            });


            grid.onKeyDown.subscribe(function (e) {
                // select all rows on ctrl-a
                if (e.which != 65 || !e.ctrlKey) {
                    return false;
                }

                var rows = [];
                for (var i = 0; i < dataView.getLength() ; i++) {
                    rows.push(i);
                }

                grid.setSelectedRows(rows);
                e.preventDefault();
            });

            grid.onSort.subscribe(function (e, args) {
                sortdir = args.sortAsc ? 1 : -1;
                sortcol = args.sortCol.field;

                if ($.browser.msie && $.browser.version <= 8) {
                    // using temporary Object.prototype.toString override
                    // more limited and does lexicographic sort only by default, but can be much faster

                    var percentCompleteValueFn = function () {
                        var val = this["percentComplete"];
                        if (val < 10) {
                            return "00" + val;
                        } else if (val < 100) {
                            return "0" + val;
                        } else {
                            return val;
                        }
                    };

                    // use numeric sort of % and lexicographic for everything else
                    dataView.fastSort((sortcol == "percentComplete") ? percentCompleteValueFn : sortcol, args.sortAsc);
                } else {
                    // using native sort with comparer
                    // preferred method but can be very slow in IE with huge datasets
                    dataView.sort(comparer, args.sortAsc);
                }
            });

            // wire up model events to drive the grid
            dataView.onRowCountChanged.subscribe(function (e, args) {
                grid.updateRowCount();
                grid.render();
            });

            dataView.onRowsChanged.subscribe(function (e, args) {
                grid.invalidateRows(args.rows);
                grid.render();
            });

            dataView.onPagingInfoChanged.subscribe(function (e, pagingInfo) {
                var isLastPage = pagingInfo.pageNum == pagingInfo.totalPages - 1;
                var enableAddRow = isLastPage || pagingInfo.pageSize == 0;
                var options = grid.getOptions();

                if (options.enableAddRow != enableAddRow) {
                    grid.setOptions({ enableAddRow: enableAddRow });
                }
            });


            var h_runfilters = null;

            //// wire up the slider to apply the filter to the model
            //$("#pcSlider,#pcSlider2").slider({
            //    "range": "min",
            //    "slide": function (event, ui) {
            //        Slick.GlobalEditorLock.cancelCurrentEdit();

            //        if (percentCompleteThreshold != ui.value) {
            //            window.clearTimeout(h_runfilters);
            //            h_runfilters = window.setTimeout(updateFilter, 10);
            //            percentCompleteThreshold = ui.value;
            //        }
            //    }
            //});

            // wire up the search textbox to apply the filter to the model
            $("#txtSearch,#txtbusNumber").keyup(function (e) {
                Slick.GlobalEditorLock.cancelCurrentEdit();

                // clear on Esc
                if (e.which == 27) {
                    this.value = "";
                }

                searchString = this.value;
                updateFilter();
            });


            //// wire up the search textbox to apply the filter to the model
            //$("#datepicker,#datepicker2").keyup(function (e) {
            //    Slick.GlobalEditorLock.cancelCurrentEdit();

            //    // clear on Esc
            //    if (e.which == 27) {
            //        this.value = "";
            //    }
            //    updateFilter();
            //});

            function updateFilter() {
                dataView.setFilterArgs({
                    //date: date,
                    searchString: searchString
                });
                dataView.refresh();
            }

            $("#btnSelectRows").click(function () {
                if (!Slick.GlobalEditorLock.commitCurrentEdit()) {
                    return;
                }
                var rows = [];
                for (var i = 0; i < 10 && i < dataView.getLength() ; i++) {
                    rows.push(i);
                }
                grid.setSelectedRows(rows);
            });

            // initialize the model after all the events have been hooked up
            dataView.beginUpdate();
            dataView.setItems(data);
            dataView.setFilterArgs({
                searchString: searchString
            });
            dataView.setFilter(myFilter);
            dataView.endUpdate();

            // if you don't want the items that are not visible (due to being filtered out
            // or being on a different page) to stay selected, pass 'false' to the second arg
            dataView.syncGridSelection(grid, false);
            $("#gridContainer").resizable();

            $("#txtbusNumber").val(busNumber);
            $("#datepicker").val(journeyDate);



            //$(".hasDatepicker").datepicker({
            //    "showButtonPanel": true
            //});

            $("#btnSearch").click(function (e) {
                //$('#myGrid').empty();
                //dataView = null;
                //grid = null;
                GetJourneys($("#txtbusNumber").val(), $("#datepicker").val());
            });

            $("#datepicker").datepicker({
                "showButtonPanel": true
            });
        })
        .fail(function (data) {
            jAlert("Add fail " + data.errorThrown);
        });
    }

    //$("#btnSearch").click(function (e) {
    //    //$('#myGrid').empty();
    //    //dataView = null;
    //    //grid = null;
    //    alert("busNumber : " + $("#txtbusNumber").val() + " journeyDate : " + $("#datepicker").val());
    //    GetJourneys($("#txtbusNumber").val(), $("#datepicker").val());
    //});

    //$(".hasDatepicker").datepicker({
    //    "showButtonPanel": true
    //});

    $(function () {

        $("#datepicker").datepicker({
            "showButtonPanel": true
        });

        $("#datepicker").val("@DateTime.Today.ToShortDateString()");
        var busNumber = '';
        var journeyDate = '@DateTime.Today.ToShortDateString()';
        GetJourneys(busNumber, journeyDate);
    })
</script>