﻿@*@model IBI.Web.ViewModels.Messaging.MessageEditModel*@
@model IBI.Web.ViewModels.BusTree.BusGroup.BusGroupModel 

@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    ViewBag.Title = "Message Editor";
    Layout = null;
}
        @*<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/screen.css")" />
        <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/general.css")" />

        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery-ui-1.9-RC1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")"></script>

                
        <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")" type="text/javascript"></script>

        
        <script src="@Url.Content("~/Scripts/modernizr/modernizr-1.7.min.js")" type="text/javascript"></script>
        
        <script src="@Url.Content("~/Scripts/knockout/knockout-2.1.0.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery/json2.js")" type="text/javascript"></script> 

        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftAjax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMVCAjax.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMVCValidation.js")" type="text/javascript"></script> 

        <script src="@Url.Content("~/Scripts/txtdropdown/jquery.scrollTo-min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/txtdropdown/txtdropdown.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/timedropdown/timedropdown.js")" type="text/javascript"></script>     
        <script src="@Url.Content("~/Scripts/jquery/jquery-ui-1.8.5.custom.min.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery/json2.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/custom/site.js")" type="text/javascript"></script>        
        <script src="@Url.Content("~/Scripts/custom/general.js")" type="text/javascript"></script>

 <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />

     @if (this.Context == null) 
    { 
     <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script> 
     <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
    }

    <!--start - Style for BusTree-->      
    <style type="text/css">
        
           div.TreeNode {display: inline-block;  min-width:200px; vertical-align:middle;}          
           div.TreeNode_title{ display: inline-block;  float:left;}           

           div.TreeNode_columns{ display: inline; float:right; margin-right: 30px; text-align:right; vertical-align:middle;  } 

           div.TreeNode_td_header {  margin-right:3px; display: inline-block; width: 50px; min-width: 50px; max-width:50px; text-align:center; vertical-align:middle; padding-top:3px;}
           div.TreeNode_td {  margin-right:5px; display: inline-block; width: 50px; min-width: 50px; max-width:50px;   text-align:center;    }
           /*div.TreeNode_td:nth-child(8) { display: inline-block; width: 20px; }
           
           
           div.TreeNode_header {display: inline-block; width:95%;  vertical-align:middle; background-color:#595959; color:#efefef; vertical-align:middle; height: 30px;}
           div.TreeNode_title{ display: inline-block; width: 700px; float:left;} 
           */
         
          
          .grey{background-color: #dedede; height: 23px; vertical-align:middle; padding-top:5px; width:100%}
          .white{background-color: #f1f1f1; height: 22px; vertical-align:middle; padding-top:5px;width:100%}
          
          
        .BUS_GREEN 
        {
        background-color: #00A800; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREEN 
        {
            background-color: #A6FF4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_GREY
        {
            background-color: #999999; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREY
        {
        background-color: #dedede; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_RED
          {
            background-color: #FF4D4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_YELLOW 
          {
            background-color: #FFFF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_ORANGE
          {
            background-color: #FFBF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_NONE 
          {
            background-color: transparent; display:inline;
        }
         
        .CounterBox
        {   margin-right:4px;
            margin-left: 3px;
            font-weight: bold;
            text-align: right;
            width: 20px;
            display: inline-block;
            vertical-align: top;
        }
        
        
        /*CODA TIP Styles*/ 
        .bubbleInfo {
            position: relative;
           /* top: 150px;
            left: 100px;
            width: 500px;*/
        }
        .trigger {
            /*position: absolute; display:inline;*/
        }
       
        .popup {
        	position: static;
        	display: none;        	
        	z-index: 10000000; 
        	
        }
        .popup table
        {
            border: solid 1px #999;
        	background-color: #efefef; 
        	border-radius:5px;
        }
        .popup table td
        {padding: 3px;  }
         
  </style>*@
    <!--end - Style for BusTree-->

    <!--start - Script for BusTree-->
    <script type="text/javascript">


        $(function () {

            // --- Initialize sample trees

            $("#BusTreeInput").dynatree({
                initAjax: {
                    url: "@Url.Action("GetBusGroupTreeForCustomer", "Bus", new {customerId=@Model.CustomerId})",
                    data: { mode: "all" }
                },
                onCustomRender: function (node) {
                    // Render title as columns

                    //ko.applyBindings(new viewModel('@Session["BusTreeCounter_GREEN"]', '@Session["BusTreeCounter_GREY"]', '@Session["BusTreeCounter_LIGT_GREY"]', '@Session["BusTreeCounter_ORANGE"]', '@Session["BusTreeCounter_RED"]', '@Session["BusTreeCounter_YELLOW"]'));

                    //var validCustomerId = '@Model.CustomerId';
                   

                    if (node.data.title.indexOf("~") === -1) {
                        // Default rendering
                        return false;
                    }
                    var cols = node.data.title.split("~");

                    var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_title'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";

                    //select node if it's BusNumber contained in Buses --> List<String> 

                    if (node.data.GroupId == '@Model.GroupId')
                        node.select();

                var title = "";
                var columns = "";



                for (var i = 0; i < cols.length; i++) {


                    var currentVal = cols[i];

                    //logic for node title link
                    if (i == 0) {

                        var function2Call = "";
                        switch (node.data.Type) {
                            case 1:
                                {
                                    function2Call = "ShowGroupDetail('" + node.data.GroupId + "')";
                                    break;
                                }
                            case 2:
                                {
                                    function2Call = "ShowBusDetail('" + node.data.BusDetail.CustomerID + "', '" + node.data.BusNumber + "')";
                                    break;
                                }
                        }
                        currentVal = "<a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + cols[i] + "</a>";
                        title = currentVal;
                        break;
                    }
                    else {
                        currentVal = currentVal.replace("/images/", "../images/");
                        columns += "<div class='TreeNode_td'>" + currentVal + "</div>";
                    }


                }

                return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                    //alert(html);

                },
                checkbox: true,
                selectMode: 1,
                //children: treeData,
                onSelect: function (select, node) {

                    // Get a list of all selected nodes, and convert to a key array:
                    var selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
                        return node.data.key;
                    });


                    // Get a list of all selected TOP nodes
                    var selRootNodes = node.tree.getSelectedNodes(true);
                    // ... and convert to a key array:
                    var selRootKeys = $.map(selRootNodes, function (node) {

                        var busString = '';
                        if (node.data.BusNumber == "0") {
                            busString += getChildBuses(node);


                            //ugly fix of double ,, replacement
                            var regex = new RegExp(',,', 'g');
                            busString = busString.replace(regex, ',');

                            //return after removing the last comma.
                            return busString.substring(0, busString.length - 1);

                        }

                        if (node.data.BusNumber != "0" && node.data.BusNumber != undefined)
                            return node.data.BusNumber;
                    });


                    $("#BusNumbers").val(selRootKeys.join(","));

                    if (selRootKeys && selRootKeys.length > 0)
                        for (var i in selRootKeys) {
                            selRootKeys[i] = selRootKeys[i].split(',').join(" ");
                        }

                    $("#SelectedBuses").text(selRootKeys.join(" "));

                    $("#GroupId").val(node.data.GroupId);
                },
                onDblClick: function (node, event) {
                    node.toggleSelect();
                },
                onKeydown: function (node, event) {
                    if (event.which == 32) {
                        node.toggleSelect();
                        return false;
                    }
                },
                onPostInit: function (isReloading, isError) {
                   if (!isError) {
                }
                this.reactivate();
            },
                onActivate: function (node) {
                    node.tree.getSelectedNodes().select(false);
                    //                // Use status functions to find out about the calling context
                    //                var isInitializing = node.tree.isInitializing(); // Tree loading phase
                    //                var isReloading = node.tree.isReloading(); // Loading phase, and reading status from cookies
                    //                var isUserEvent = node.tree.isUserEvent(); // Event was triggered by mouse or keyboard

                    //                alert(node.data.title);
                },
                // The following options are only required, if we have more than one tree on one page:
                //        initId: "treeData",
                cookieId: "dynatree-Cb3",
                idPrefix: "dynatree-Cb3-"

            });

            //$("#btnToggleSelect").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.toggleSelect();
            //    });
            //    return false;
            //});
            //$("#btnDeselectAll").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.select(false);
            //    });
            //    return false;
            //});
            //$("#btnSelectAll").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.select(true);
            //    });
            //    return false;
            //}); 
        });

    function getChildBuses(node) {

        var buses = '';

        if (node.childList) {
            for (var child in node.childList) {

                if (node.childList[child].childList)
                    buses += getChildBuses(node.childList[child], buses);
                else {
                    if (node.childList[child].data) {
                        if (node.childList[child].data.BusNumber != "0" && node.childList[child].data.BusNumber != undefined) {
                            buses += node.childList[child].data.BusNumber + ",";
                        }
                    }

                }

            }
        }

        return buses;

    }

    function setBusSelection(buses) {
        var arr = buses.split(",");

        for (var i in arr) {

            var bNum = arr[i];

            $("#BusTreeInput").dynatree("getTree").getNodeByKey(bNum).select();

        }
        return false;
    }
</script>
    <!--end - Script for BusTree-->

      <script>

          function FormSuccess() {

          } //end function

          function FormFailure() {
          }

          function ChangeCategory(ddl) {
              var id = $(ddl).val();

              //alert('category changed:' + id);
              $("#CategoryChanged").val("true");
              document.forms[0].submit();

          }

          $(document).ready(function () {
              $('#closeBusGroup').click(function () {
                  $('#MoveGroupWindow').data("kendoWindow").close();
              })
          });
   
          function FormSuccess() {
              bReloadTree = true;
              $('#MoveGroupWindow').data("kendoWindow").close();
        }
    </script>



     <!--jAlert-->
    <script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" /> 
  
    <div id="AjaxContents"  class="input-table">
 
       <div> 
       @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }    
         @using (Ajax.BeginForm("MoveGroup", "Bus", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess", OnBegin = "beginAjaxSubmit" }))
         {
          @*@using (Html.BeginForm("MoveGroup", "Bus", FormMethod.Post, new { onsubmit = "beginHtmlSubmit()" }))
         
            {      
            *@<table>
                <tr>
                    <td colspan ="3"> 
                        @Html.ValidationSummary(true, "Message couldn't be saved. Please correct the errors and try again.")
                        <b style="font-size: 12px;font-family: Arial;width: 98%;padding: 4px;text-align: center;" >Select Group</b>
                        <div style="border:solid 1px #aaa; border-radius: 3px; padding:5px;">
                            <div id="BusTreeInput" style="width:500px; height:420px; overflow-y: scroll; overflow-x:hidden;" />                                        
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="display:hidden;">
                        <!--hidden fields [the fields which we dont want to edit ]-->
                        @Html.HiddenFor(model => model.BusNumber )
                        @Html.HiddenFor(model => model.CustomerId)
                        @Html.HiddenFor(model => model.GroupId)
                    </td>
                    <td >
                        <br />
                        <input type="submit" value="Save" /> 
                        <a href="#" class="button"  id="closeBusGroup">Cancel</a>                                                                        
                    </td>
                </tr>
            </table>
              
            } 

            <script>
                
            </script>

         </div> <!--inputTable - end-->

    </div><!--AjaxContents - end-->  
 


