﻿@model IBI.Web.ViewModels.BusTree.BusStatus.BusStatusModel 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BusStatus</title>

    <script>
        function handleClick(myRadio) {
            if (myRadio.value == "InOperation")
                InOperation.value = true;
             else
                InOperation.value = false;
        }

        $(document).ready(function () {
            $('#ChangeStatusWindow').data().kendoWindow.bind('refresh', function (e) {
                var win = this;
                $('#close').click(function () {
                    win.close();
                })
            })
        });

        function FormSuccess() {
            bReloadTree = true;
            $('#ChangeStatusWindow').data("kendoWindow").close();
        }
    </script>
</head>
<body>
     <div id="AjaxContents"  class="input-table">
      <div> 
       @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }    
         @using (Ajax.BeginForm("ChangeBusStatus", "Bus", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess", OnBegin = "beginAjaxSubmit" }))
         {
          @*@using (Html.BeginForm("ChangeBusStatus", "Bus", FormMethod.Post, new { onsubmit = "beginHtmlSubmit()" }))
            {      
            *@<table>
                <tr>
                    <td colspan ="3">
                        <input type="radio" name="busStatus" value="InOperation" @(Model.InOperation ? "checked":"") onclick="handleClick(this);"> InOperation
                        <input type="radio" name="busStatus" value="NotInOperation" @(!Model.InOperation? "checked":"") onclick="handleClick(this);"> Not InOperation
                    </td>
                </tr>
                <tr>
                    <td style="display:hidden;">
                        <!--hidden fields [the fields which we dont want to edit ]-->
                        @Html.HiddenFor(model => model.BusNumber )
                        @Html.HiddenFor(model => model.CustomerId)
                        @Html.HiddenFor(model => model.InOperation)
                    </td>
                    <td >
                        <br />
                        <input type="submit" value="Save" /> 
                        <a href="#" class="button" id="close">Cancel</a>                                                                        
                        @*<div class="k-window-actions"><a role="button" href="#" class="k-window-action k-link k-state-hover"><span role="presentation" class="k-icon k-i-close">Close</span></a></div>*@
                    </td>
                </tr>
            </table>
              
            } 
         </div> <!--inputTable - end-->
    </div><!--AjaxContents - end--> 
</body>
</html>
