﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
<head>
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />

</head>

<body style="margin:0px">

<div class="box" style="height:96%">
<iframe id="frmMain" width="100%" height="100%" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="@Url.Action("BusGroup", "Bus", new{customerId = ViewData["customerId"], busNumber = ViewData["busNumber"],groupId = ViewData["groupId"]})" />    
</div>
</body>