﻿@{
    ViewBag.Title = "Bus Tree View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
     <script src="@Url.Content("~/Scripts/dynatree/jquery.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/dynatree/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dynatree/jquery-ui.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script> 
    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
        
          ul.dynatree-container span.td {
             position: absolute;
             display: inline;
             border: 1px;
             overflow: hidden;
             background-color: transparent;
          }
          ul.dynatree-container span.td:nth-child(1) {
             position: static;
          }
          ul.dynatree-container span.td:nth-child(2) {
 
             left: 400px;
             width: 50px;
          }
          ul.dynatree-container span.td:nth-child(3) { 
             left: 500px;
             width: 150px;
          }
          
          ul.dynatree-container span.td:nth-child(4) { 
             left: 600px;
             width: 150px;
          }
          
          ul.dynatree-container span.td:nth-child(5) { 
             left: 700px;
             width: 150px;
          }
          
          ul.dynatree-container span.td:nth-child(6) { 
             left: 800px;
             width: 150px;
          }
  </style>

  <script type="text/javascript">
      $(function () {
          $("#tree").dynatree({ 
              initAjax: {
                  url: "http://localhost/IBIServices/Core/XML/SystemService.svc/bustree",
                  //url: "@Url.Action("TestTreeData", "Bus")",
                  error: function(node, XMLHttpRequest, textStatus, errorThrown) {
                               alert("error");
                        }
              },
//              onLazyRead: function (node) {
//                  node.appendAjax({
//                      url: "http://wwwendt.de/tech/dynatree/doc/sample-data1.json"
//                  });
//               },

              onActivate: function (node) {
                  //$("#echoActive").text(node.data.title);
              },
              onDeactivate: function (node) {
                  //$("#echoActive").text("-");
              }//,
              
          });
      });
</script>

}

@section Featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>
} 

 


<h2>Sample Tree</h2>

  <ul class="dynatree-container">
    <li>
    
        <span class="td">Name</span>
        <span class="td">CCU</span>
        <span class="td">DCU</span>

        <span class="td">VTC</span>
        <span class="td">Hotspot</span>
        <span class="td">Infotainment</span>
        <span class="td">Snap</span>

    </li>
    
  </ul>  

  <div id="tree"> </div> 

  <h1>Example: Init from Ajax request</h1>
  <p class="description">
    This sample initializes the tree from a JSON request.
  </p>

  <!-- Add a <div> element where the tree should appear: -->
  <div id="tree">  </div>

  <div>Active node: <span id="echoActive">-</span></div>

  <!-- (Irrelevant source removed.) -->

