﻿@{
    Layout = null;
}

<div style="text-align:center">
    <br /><br />
    <div style="color:red; font-size: 14px;">
        Selected bus and all data associated to that bus, will be deleted.
        As part of the confirmation, you must enter your password as confirmation
    </div>
    <br /><br />
    <form id="frmPwdConfirmation">
        <b>Password</b> <input type="password" id="pwd" autocomplete="off" />
        <input type="submit" value="Confirm" id="btnConfirmPwd" />
    </form>
</div>

<script>
    $(document).ready(function () {

        //debugger
        $("#pwd").focus();

        $("#frmPwdConfirmation").on('submit', function () {

            var pass = $("#pwd").val();

            if (pass=='') {
                jAlert('Password is required');
                return false;
            }

            debugger
            $.ajax({
                url: 'AdminPwdConfirmation',
                type: "POST",
                dataType: "JSON",
                data: {
                    password: pass
                },
                success: function (result) {
                    if (result) {

                        //try to delete bus now from parent window
                        adminConfirmation = true;
                        window.$("#PwdConfirmation").data("kendoWindow").close();
                        DeleteBus('@ViewBag.BusNumber', '@ViewBag.CustomerId');

                    }
                    else {
                        jAlert('Provided password is not correct or <br /> you are not authorized for this action');
                    }
                },
                error: function () {
                    jAlert('No response from server at this time.');
                }
            });

            return false;
        });


        $("#pwd").focus();
    })


</script>