﻿@model List<String>

@using Kendo.Mvc.UI; 

@{
    ViewBag.Title = "SimpleTree";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@section Head{
  
    
    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />    
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")" type="text/javascript"></script> 
    

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />
     

    <style type="text/css">
        
           div.TreeNode {display: inline-block;  min-width:200px; vertical-align:middle;}          
           div.TreeNode_title{ display: inline-block;  float:left;}           

           div.TreeNode_columns{ display: inline; float:right; margin-right: 30px; text-align:right; vertical-align:middle;  } 

           div.TreeNode_td_header {  margin-right:3px; display: inline-block; width: 50px; min-width: 50px; max-width:50px; text-align:center; vertical-align:middle; padding-top:3px;}
           div.TreeNode_td {  margin-right:5px; display: inline-block; width: 50px; min-width: 50px; max-width:50px;   text-align:center;    }
           /*div.TreeNode_td:nth-child(8) { display: inline-block; width: 20px; }
           
           
           div.TreeNode_header {display: inline-block; width:95%;  vertical-align:middle; background-color:#595959; color:#efefef; vertical-align:middle; height: 30px;}
           div.TreeNode_title{ display: inline-block; width: 700px; float:left;} 
           */
         
          
          .grey{background-color: #dedede; height: 23px; vertical-align:middle; padding-top:5px; width:100%}
          .white{background-color: #f1f1f1; height: 22px; vertical-align:middle; padding-top:5px;width:100%}
          
          
        .BUS_GREEN 
        {
        background-color: #00A800; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREEN 
        {
            background-color: #A6FF4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_GREY
        {
            background-color: #999999; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREY
        {
        background-color: #dedede; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_RED
          {
            background-color: #FF4D4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_YELLOW 
          {
            background-color: #FFFF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_ORANGE
          {
            background-color: #FFBF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_NONE 
          {
            background-color: transparent; display:inline;
        }
         
        .CounterBox
        {   margin-right:4px;
            margin-left: 3px;
            font-weight: bold;
            text-align: right;
            width: 20px;
            display: inline-block;
            vertical-align: top;
        }
        
        
        /*CODA TIP Styles*/ 
        .bubbleInfo {
            position: relative;
           /* top: 150px;
            left: 100px;
            width: 500px;*/
        }
        .trigger {
            /*position: absolute; display:inline;*/
        }
       
        .popup {
        	position: static;
        	display: none;        	
        	z-index: 10000000; 
        	
        }
        .popup table
        {
            border: solid 1px #999;
        	background-color: #efefef; 
        	border-radius:5px;
        }
        .popup table td
        {padding: 3px;  }
         
  </style>

<script type="text/javascript">

 
    $(function(){

        // --- Initialize sample trees
         
        $("#tree3").dynatree({
            initAjax: {
                url: "/Bus/GetSimpleBusTree", 
                data: { mode: "all"  } 
            },
            onCustomRender: function (node) {
                // Render title as columns

                //ko.applyBindings(new viewModel('@Session["BusTreeCounter_GREEN"]', '@Session["BusTreeCounter_GREY"]', '@Session["BusTreeCounter_LIGT_GREY"]', '@Session["BusTreeCounter_ORANGE"]', '@Session["BusTreeCounter_RED"]', '@Session["BusTreeCounter_YELLOW"]'));

                 if (node.data.title.indexOf("~") === -1) {
                     // Default rendering
                     return false;
                 }
                 var cols = node.data.title.split("~");

                 var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_title'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";


                 var title = "";
                 var columns = "";

                 for (var i = 0; i < cols.length; i++) {


                     var currentVal = cols[i];

                     //logic for node title link
                     if (i == 0) {

                         var function2Call = "";
                         switch (node.data.Type) {
                             case 1:
                                 {
                                     function2Call = "ShowGroupDetail('" + node.data.GroupId + "')";
                                     break;
                                 }
                             case 2:
                                 {
                                     function2Call = "ShowBusDetail('" + node.data.BusDetail.CustomerID + "', '" + node.data.BusNumber + "')";
                                     break;
                                 }
                         }
                         currentVal = "<a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + cols[i] + "</a>";
                         title = currentVal;
                         break;
                     }
                     else {
                         currentVal = currentVal.replace("/images/", "../images/");
                         columns += "<div class='TreeNode_td'>" + currentVal + "</div>";
                     }


                 }

                 return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                 //alert(html);

             },
            checkbox: true,
            selectMode: 3,
            //children: treeData,
            onSelect: function(select, node) {
                // Get a list of all selected nodes, and convert to a key array:
                var selKeys = $.map(node.tree.getSelectedNodes(), function(node){
                    return node.data.key;
                });
               // $("#echoSelection3").text(selKeys.join(", "));

                // Get a list of all selected TOP nodes
                var selRootNodes = node.tree.getSelectedNodes(true);
                // ... and convert to a key array:
                var selRootKeys = $.map(selRootNodes, function(node){

                    var busString = '';
                    if (node.data.BusNumber == "0") {
                        busString += getChildBuses(node);

                         
                        //ugly fix of double ,, replacement
                        var regex = new RegExp(',,', 'g');
                        busString = busString.replace(regex, ',');

                        //return after removing the last comma.
                        return busString.substring(0, busString.length-1);

                    }

                    if (node.data.BusNumber != "0" && node.data.BusNumber != undefined)
                        return node.data.BusNumber;
                });

                 
                //UGLY FIX
                
                $("#SelectedBuses").text(selRootKeys.join(","));
                $("#BusNumbers").val(selRootKeys.join(","));
                
            },
            onDblClick: function(node, event) {
                node.toggleSelect();
            },
            onKeydown: function(node, event) {
                if( event.which == 32 ) {
                    node.toggleSelect();
                    return false;
                }
            },
            // The following options are only required, if we have more than one tree on one page:
            //        initId: "treeData",
            cookieId: "dynatree-Cb3",
            idPrefix: "dynatree-Cb3-"
        });
         
            //$("#btnToggleSelect").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.toggleSelect();
            //    });
            //    return false;
            //});
            //$("#btnDeselectAll").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.select(false);
            //    });
            //    return false;
            //});
            //$("#btnSelectAll").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.select(true);
            //    });
            //    return false;
            //}); 
    });

    function getChildBuses(node)
    {

        var buses = '';

        if (node.childList) {
            for (var child in node.childList) {
                
                if (node.childList[child].childList)
                    buses += getChildBuses(node.childList[child], buses);
                else
                {
                    if (node.childList[child].data) {
                        if (node.childList[child].data.BusNumber != "0" && node.childList[child].data.BusNumber != undefined) {
                            buses += node.childList[child].data.BusNumber + ",";
                        }
                    }
                        
                }
                    
            }
        }

        return buses;       

    }
</script>


    }



@section Popup{
  

    
  <!-- Tree #3 --> 
   Total Selected: @Model.Count()
    <br />
    <div id="tree3" style="width:350px; height:300px; overflow-y: scroll;"></div>
     
    <input type="hidden" id="BusNumbers" value="" />

  <div>Selected Buses: <span id="SelectedBuses"></span></div> 
   
}

  