﻿@{
    Layout = null;
} 
 
        <div id="myElementG">Genearting Audio Preview...</div>

        <script type="text/javascript">

            jwplayer("myElementG").setup({
                file: '@IBI.Web.Controllers.AudioController.GeneratePreviewFilePath(ViewData["stopName"].ToString() , ViewData["voice"].ToString(), ViewData["sourceText"].ToString())'
            });

        </script>  


<script>
   
</script>

@*
file: '@IBI.Web.Controllers.AudioController.GeneratePreviewFilePath(ViewData["stopName"].ToString() , ViewData["voice"].ToString(), ViewData["sourceText"].ToString())'
 
*@
