﻿ 
@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    
   <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     
    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jwplayer/jwplayer.js")" type="text/javascript"></script>    

    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />*@ 
}
   
 @using (Ajax.BeginForm("SearchContents", "Audio", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvList", OnBegin = "beginAjaxSubmit", OnComplete = "endAjaxSubmit" }))
{
    <div class="input-table grey-box">
        <table>
            <tr>
                <td>
                    <label>Stop Name</label>
                    @Html.TextBox("stopName", ViewData["StopName"]) 
                </td>
                <td valign="bottom">
                    <input type="submit" value="Search" onclick="doSearch()" style="margin-top:0px;" />
                    @if (string.IsNullOrEmpty(ViewData["StopName"].ToString()) == false)
                    {
                        <div style="display: inline;" class="error">
                            Please enter a stop name
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
}
<br /><br />

<script>
     function doSearch() {
         
         if ($("#stopName").val().length < 3) {
             jAlert("You must enter at least 3 characters to search stops");
             endAjaxSubmit();
             return false;
         }

         return true;
     }
</script>
<div id="dvList">
    @{Html.Partial("SearchContents", new List<IBI.Shared.Models.TTS.AudioFile>());}
</div>