﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="SystemTest.aspx.cs" Inherits="CMS_Aspx.SystemTest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    Movia Web Services&nbsp;&nbsp; --&nbsp;&nbsp;
    <asp:LinkButton ID="LnkMoviaTest" runat="server" OnClick="LnkMoviaTest_Click">Test</asp:LinkButton><br />
    <br />
    Result:<br />
    <asp:TextBox ID="TxtMoviaResult" runat="server" Height="157px" 
    Width="805px" ReadOnly="True" TextMode="MultiLine"></asp:TextBox><br />
    <br />

</asp:Content>
