@using IBI.Shared.Models.Accounts
@using IBI.Web.Infrastructure
@using IBI.Shared
@using Kendo.Mvc.UI
@{
    IBI.Web.Common.CurrentUser.PushAVisistedPage(HttpContext.Current.Request.ServerVariables["URL"]);    
}



<!DOCTYPE html>
<html lang="en"> 
    <head>

        <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
        <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />

        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
        <meta charset="utf-8" /> 
        <title>@ViewBag.Title - IBI</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/screen.css")" />
        <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/general.css")" />

        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery-ui-1.9-RC1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")"></script>

                
        <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")" type="text/javascript"></script>

        
        <script src="@Url.Content("~/Scripts/modernizr/modernizr-1.7.min.js")" type="text/javascript"></script>
        
        <script src="@Url.Content("~/Scripts/knockout/knockout-2.1.0.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery/json2.js")" type="text/javascript"></script> 

        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftAjax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMVCAjax.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMVCValidation.js")" type="text/javascript"></script> 

      

        <script src="@Url.Content("~/Scripts/jquery/json2.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/custom/site.js")" type="text/javascript"></script>        
        <script src="@Url.Content("~/Scripts/custom/general.js")" type="text/javascript"></script>

        <!--jAlert-->
        <script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
        <link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" />




        @RenderSection("Head", false)
          
         <script type="text/javascript">
             function OpenAccountSettingsWindow() {
                 var window = $("#AccountSettings").data("kendoWindow");
                 window.title(false);
                 $("#AccountSettings").parent().css("padding-top", "0px");
                 $("#AccountSettings").css("overflow", "hidden");
                 $("#AccountSettings").css("background-color", "#ddd");
                 window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                     url: "@Url.Action("AccountSettings", "Account")"
                });
        }
        function ReLogin() {
            location.reload();
        }
        </script>   

        @(Html.Kendo().Window()
            .Visible(false)
            .Name("AccountSettings")
            .Modal(true)
            .Scrollable(false)
            .Draggable()
            .Width(390)
            .Height(400)            
        ) 
</head>

<body> 
<!-- Start: page-top-outer -->
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">    

	<!-- start logo -->
	<div id="logo">
	<a href="">
        <div id="logoBox">
            <div class="logo">
               @* <img src="../Images/mermaid/logo.png"  style="display:inline; vertical-align: middle" />*@
               Mermaid IBI
               </div>
               <br /><br />
            @*<div class="sloganLight">Integrated Bus Infotainment System</div>*@
        </div>	 
    </a>
	</div>
	<!-- end logo -->
	
	<!--  start top-search -->
	<div id="top-search">
         @if (Request.IsAuthenticated)
         { 
            <p>
                Welcome, <b>
                    @{
                    //User usr = SessionManager.Get<User>("LoggedInUser");
                    User usr = IBI.Web.Infrastructure.CustomAttributes.AuthorizeLogin.LoggedInUser;
                    string fullName = usr != null ? usr.FullName : "";
                    }
                    @fullName
                    </b>
                <br /> 
            </p>
             
             <a href="javascript:void(0);" onclick="OpenAccountSettingsWindow()">Account Settings</a>
            
         } 
		 @*<table border="0" cellpadding="0" cellspacing="0">
            
	         <tr>
		        <td><input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" /></td>
		        <td>
		        <select  class="styledselect">
			        <option value=""> All</option>
			        <option value=""> Products</option>
			        <option value=""> Categories</option>
			        <option value="">Clients</option>
			        <option value="">News</option>
		        </select> 
		        </td>
		        <td>
		        <input type="image" src="../images/shared/top_search_btn.gif"  />
		        </td>
		     </tr> 
		</table> *@
	</div>
 	<!--  end top-search -->
 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
 
<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
<div class="nav-outer"> 

		<!-- start nav-right -->
		<div id="nav-right">
		
			@*<div class="nav-divider">&nbsp;</div>*@
			<div class="showhide-account">
                @*<img src="../images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" />*@
                <div style="width:93px; height:14px;"><!--will remove this dive when Account settings link is back--></div>
            </div>
			<div class="nav-divider">&nbsp;</div>

            <a id="logout" href="@Url.Action("LogOff", "Account")" style="padding-right:4px;">
                @*<img src='../images/shared/nav/nav_logout.gif' width='64' height='14' alt='Logout' />*@
                <b style="color:White; font-size:13px;">Log Out</b>
            </a>
            
			
			<div class="clear">&nbsp;</div>
		
			<!--  start account-content -->	
			@*<div class="account-content">
			<div class="account-drop-inner">
				<a href="" id="acc-settings">Settings</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-details">Personal details </a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-project">Project details</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-inbox">Inbox</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-stats">Statistics</a> 
			</div>
			</div>*@
			<!--  end account-content -->
		
		</div>
		<!-- end nav-right -->

        @{
            string page = HttpContext.Current.Request["URL"];
            if (page.StartsWith("/IBI/"))
            {
                page = page.Replace("/IBI/", "/");
            }
        } 
  
       
  
		<!--  start nav -->
		<div class="nav">
		<div class="table">
		
        <!--User Menu Navigation - start -->
            
            @{Html.RenderAction("UserMenu", "Account");}
            
            
           
		<!--User Menu Navigation - end -->

		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
		<!--  end nav -->

</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

  <div class="clear"></div>
 
<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">

	<!--  start page-heading -->
	@*<div id="page-heading">
		<h1>
           @ViewBag.Title
        </h1>
	</div>*@
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="../images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="../images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">
                 @{ 
                    
                     
                     //check if current url is valid for current user or not. 

                     bool validUrl = IBI.Web.Common.CurrentUser.IsValidUserPageUrl(page);

                     if (!validUrl && page != "/Error/Index")
                     {
                         HttpContext.Current.Response.Redirect("~/Error/Index");
                     }

                }       
                     
                @RenderBody()
                  
			 
			</div>
			<!--  end table-content  -->
	
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>
    
<!-- start footer -->         
<div id="footer">
<!-- <div id="footer-pad">&nbsp;</div> -->
	<!--  start footer-left -->
	<div id="footer-left">
	&copy;Copyright <a href="http://ibi.mermaid.dk">ibi.mermaid.dk</a>. All rights reserved.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
 @RenderSection("Scripts", false)
</body>
</html>
 