﻿@using IBI.Web.Common

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>  
      
     @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>*@


        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery-ui-1.9-RC1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/microsoft/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMvcAjax.js")" type="text/javascript"></script>
     

     <link rel="stylesheet" href="@Url.Content("~/Content/template/screen.css")" type="text/css" />     
     <link rel="stylesheet" href="@Url.Content("~/Content/template/popup.css")" type="text/css" />
     <link rel="stylesheet" href="@Url.Content("~/Content/template/general.css")" type="text/css" />
     <link rel="stylesheet" href="@Url.Content("~/Content/template/table-grid.css")" type="text/css" />
      
     <script src="@Url.Content("~/Scripts/custom/site.js")" type="text/javascript"></script>      
     <script src="@Url.Content("~/Scripts/custom/general.js")" type="text/javascript"></script>      
           

    @RenderSection("Head", false)
</head>
<body style="margin:0px; padding:0px;">
   
    @RenderSection("PopUp", false)    
 
</body>
</html>
