﻿@model MvcContrib.Pagination.IPagination
@using MvcContrib.UI.Pager
@using System.Text

    <link href="@Url.Content("~/Content/template/pager.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $("#divFirstLast").width($("#divInnerContainer").width()
                - $("#divPrevious").width()
                - $("#divNext").width()-11);
        });
    </script>
<p/>
  @{
    <div class="MainPageView">
		    <div>
			    <div id="divInnerContainer" class="InnerContainer">
				    <div id="divPrevious" class="Previous">
                        @{
                            string url = Request.RawUrl;
                            
                            if(!url.Contains("page=")){
                                if ( !url.Contains("?") )
                                {
                                    url += "?page=";
                                }
                                else{
                                    if (!url.EndsWith("?"))
                                    {
                                        url += "&page=";
                                    }
                                    else{
                                        url += "page=";
                                    }
                                }
                            }
                            
                            int index = url.LastIndexOf("page=");
                            if (index > 0)
                            {
                                url = url.Substring(0, index);
                            }
                            
                                
                            
                            if (Model.HasPreviousPage)
                            {
					            <a href="@string.Format("{0}page={1}",url,Model.PageNumber-1)">
						            <img src="../images/infotainment/Pre.png" width="8" height="12">
						            Previous
					            </a>
                            }
                            else
                            {
                                var previous = "<img src='../images/infotainment/Pre.png' width='8' height='12'>&nbsp;Previous";
						        @Html.Raw(previous);
                            }                            
                        }
				    </div>
                    <div id="divFirstLast" class="divFirstLast">
				        <div class="FirstLast">
                            @{
                                if (Model.PageNumber == 1)
                                {
                                    @Html.Raw("First");
                                }
                                else
                                {
                                    <a href="@string.Format("{0}page=1",url)">
						                First
					                </a>
                                }
                            }
                                | 
                                @{
                                    if (Model.PageNumber == Model.TotalPages)
                                {
                                    @Html.Raw("Last");
                                }
                                else
                                {
                                        <a href="@string.Format("{0}page={1}",url,Model.TotalPages)">
						                Last
					                    </a>
                                }
                            }
				        </div>
                    </div>
				    @*<div class="NextSpacer"></div>*@
				    <div id="divNext" class="Next">
					    @{if (Model.HasNextPage)
                            {
					            <a href="@string.Format("{0}page={1}",url,Model.PageNumber+1)">
						            Next&nbsp;<img src="../images/infotainment/Next.png" width="8" height="12">
					            </a>
                            }
                            else
                            {
                                var next = "Next&nbsp;<img src='../images/infotainment/Next.png' width='8' height='12'>";
						        @Html.Raw(next);
                            }   
                        }
				    </div>		
			    </div>
		    </div>
		    <div style="font-family:Arial;font-size: 14px;  position: relative;top: 38px;text-align: center;">
			    Showing <strong>@string.Format("{0}/{1}",Model.PageNumber,Model.TotalPages)</strong>
		    </div>
	    </div>       
  }
<p/>