﻿@model IBI.Web.ViewModels.Messaging.MessageListContainerViewModel

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>
    
         <script src=""@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script> 
     

        <h2>Message Search</h2>

<div id="MsgGrid">
    @{
        Html.RenderPartial("SearchFilters", Model.MessageFilterViewModel);
        Html.RenderPartial("Pager", Model.MessagePagedList);
         Html.RenderPartial("SearchResults", Model);
         Html.RenderPartial("Pager", Model.MessagePagedList);  
    }
    </div>    