﻿@model IBI.Shared.Models.Messages.Message 
    <h2>
        Product Details</h2>
    <div id="searchFilter">
        @Html.ActionLink("« Back to List", "Index", null, new { style = "font-weight:bold" })
    </div>
    <div id="detailsContainer">
        @Html.DisplayFor(a=> a)
    </div>
    <p />
    <div class="pagination">
    </div>
</asp:Content>
