﻿@model IBI.Web.ViewModels.Messaging.MessageFilterViewModel
@{
    Layout = null;
}
@{
    var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
}

@using (Ajax.BeginForm("ContribGrid", "Home", new { id = "messageSearch" }, new AjaxOptions{ HttpMethod = "GET", InsertionMode= InsertionMode.Replace}))
    {
<div id="searchFilter">
    <div>
        <label>
            Message Name</label>
        @Html.TextBox("subject", Model.MessageSubjectFilter, new { size = 30, maxlength = "40" })
    </div> 
    <div>
        <label>
            Message Category</label>
        @Html.DropDownList("messageCategoryId", Model.MessageCategories, "-- All --", htmlAttributes)
    </div>
    <span>
        <input type="submit" value="Search" class="btnNeutral" />
    </span>
</div>
}