﻿@using Kendo.Mvc.UI; 

@{
    ViewBag.Title = "SimpleTree";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@section Head{
  <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")" type="text/javascript"></script> 
    

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />
     
    @*<script src="../Scripts/kendo/kendo.all-vsdoc.js"></script> 
    <script src="../Scripts/jquery/jquery-ui-1.9-RC1.min.js"></script>
    <script src="../Scripts/jquery/jquery-1.8.2.min.js"></script>*@
    
    }


@section Popup{
<h2>SimpleTree</h2>

<div id="treeview" name="treeview"></div>

    @using (Html.BeginForm("SimpleTree", "Home", FormMethod.Post))
{
    <div class="treeview-back">
            @(Html.Kendo().TreeView()
                .Name("treeview") 
                .Checkboxes(checkboxes => checkboxes
                    .CheckChildren(true)
                )   
                .DataTextField("GroupName").ExpandAll(true)
                .DataSource(dataSource => dataSource
                    .Read(read => read
                    .Action("GetSimpleTree", "Home")
                    )
                )
            )
    </div>
        
    <button type="submit" class="k-button">Post checked nodes</button>
}

<div id="result">
@if (Model != null)
{
    <text>Checked nodes: @(String.Join(", ", (int[])Model)) </text>
}
else
{
    <text>No nodes checked.</text>
}
</div>



<style scoped="scoped">

 .treeview-back 
{
    float: left;
    margin: 0 0 2em;
    padding: 20px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.45), inner 0 0 30px rgba(0,0,0,0.07);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

form
{
    margin: 0 30px;
    float: left;
    width: 220px;
}

#result 
{
    float: left;
    padding: 10px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.45), inner 0 0 30px rgba(0,0,0,0.07);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
} 

</style>

    }