﻿@*@model IBI.Web.ViewModels.Messaging.MessageListModel*@
@model IBI.Web.ViewModels.Messaging.ListContainerViewModel

@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI
@using MvcContrib.UI.Grid

@{
    Layout = "~/Views/Shared/_Popup.cshtml";    
}
 
@section Head{
    
    <!--jAlert-->
    <script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" />
 
 
    <script>
         $(document).ready(function () {

             var loadedAfterSave = '@Model.LoadAfterSave';
             if (loadedAfterSave == 'True') {
                 //alert('Message Saved Successfully');
                 jAlert("Message saved successfully", "Success!!!", null);
             }
 
         });  
    </script> 
}

@section Popup{


<div id="MsgGrid" style="padding: 7px;">
       
    @{
        MvcContrib.Pagination.IPagination<IBI.Shared.Models.Messages.Message> PagedList = Model.PagedList;
        IBI.Web.ViewModels.Messaging.FilterViewModel FilterViewModel = Model.FilterViewModel;
        MvcContrib.UI.Grid.GridSortOptions GridSortOptions = Model.GridSortOptions;               
     } 
      

   <!-- Search Filters - Start -->    
   

   @using (Ajax.BeginForm("List", "Message", new { }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "MsgGrid", OnBegin = "beginAjaxSubmit" }))
   {
    <div class="input-table grey-box">
        <table>
            <tr valign="bottom">
                <td class="label">Title</td>
                <td>
                    @Html.TextBox("subject", FilterViewModel.MessageSubjectFilter, new { size = 20, maxlength = "100" })
                </td>
                <td class="label">
                    Category
                </td>
                <td>                   
                    @Html.DropDownList("messageCategoryId", FilterViewModel.MessageCategories, "-- All --", null)
                </td>
                <td style="vertical-align: top;">
                    <input type="hidden"  name="customerId" value="@FilterViewModel.CustomerId" />
                    <input type="hidden"  name="busNumber"  value="@FilterViewModel.BusNumber" />
                    <input type="hidden"  name="loadAfterSave"  value="False" />
                    
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table> 
    </div>
   }
    <!-- Search Filters - End --> 
 
    <!-- Searched Results - start -->   
    @{
        var grid = Html.Grid(PagedList)
        .Columns(column =>
        {
         column.For(a => a.CategoryName);
         column.Custom(x => IBI.Shared.AppUtility.TrimText(x.Subject, 10)).Named("Title");
         column.Custom(x => IBI.Shared.AppUtility.TrimText(x.MessageText, 30)).Named("Message Text");
         column.For(a => a.ValidFrom).Encode(false).Format("{0:dd/MM/yyyy HH:mm}");
         column.For(a => a.ValidTo).Encode(false).Format("{0:dd/MM/yyyy HH:mm}");
         column.For(a => a.SenderName).Named("Sender");
         column.Custom(a => Html.ActionLink("Edit", "AddEdit", "Message", new { customerId = a.CustomerId, busNumber = @FilterViewModel.BusNumber, messageid = a.MessageId }, new { target = "_top" })).Encode(false).Attributes(@class => "link");
        
            //column.For(a => @Html.ActionLink("Edit", "AddEdit", "Message", new { customerId = a.CustomerId, busNumber = @FilterViewModel.BusNumber, id = a.MessageId }, new { target = "_top" })).Encode(false).Attributes(@class => "link");
            
     })
     .Sort(Model.GridSortOptions)
     .Attributes(@class=>"table-list");
     
    }

   @{
       if (Model.PagedList.Count() > 0)
       { 
            @grid
       }
       else
       {
             <div class="no-data">There are no messages available</div> 
       }
    }
    <!-- Searched Results - start -->   
    <br /><br />
    <!-- Page - start -->
    @{ 
        Html.RenderPartial("Pager", PagedList);  
    }
    <!-- Page - end -->

    </div>    
     

}
