﻿@model IBI.Web.ViewModels.Messaging.Outgoing.ListContainerViewModel
@using Kendo.Mvc.UI 
@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common

@{
    ViewBag.Title = "Outgoing Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
 
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Scripts/custom-datetime/txtdropdown.css")" rel="stylesheet" type="text/css" /> 

    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />


    <link href="@Url.Content("~/Content/tablesorter/theme.default.css")" rel="stylesheet" type="text/css" /> 
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.widgets.js")" type="text/javascript"></script>  


}
 

    @{
        MvcContrib.Pagination.IPagination<IBI.Shared.Models.Messages.Message> PagedList = Model.PagedList;
        IBI.Web.ViewModels.Messaging.Outgoing.FilterViewModel FilterViewModel = Model.FilterViewModel;
        MvcContrib.UI.Grid.GridSortOptions GridSortOptions = Model.GridSortOptions;               
     } 

 <!-- Search Filters - Start -->  

 <script type="text/javascript">

     $(document).ready(function () {
      
         $("#validFrom").val("@((FilterViewModel.ValidFrom == null || FilterViewModel.ValidFrom == DateTime.MinValue) ? "" : FilterViewModel.ValidFrom.ToShortDateString())");

         $("#validTo").val("@((FilterViewModel.ValidTo == null || FilterViewModel.ValidTo == DateTime.MinValue) ? "" : FilterViewModel.ValidTo.ToShortDateString())");
     });
     
    </script>  
       

   @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
    }    
    <!--new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "BusStatusLogGrid" }))-->

   @{Html.EnableClientValidation(true);}
   @using (Html.BeginForm("Outgoing", "Message", FormMethod.Get, new { onsubmit = "beginHtmlSubmit()" }))
   {
    @*<div style="float:right; text-align:right; margin-bottom:15px; margin-right:10px;">
       
    </div>
    *@
    <div class="input-table grey-box" style="width:99%">
        <table>
            <tr> 
                @*<td>
                    <label class="block">Group</label>
                     @Html.DropDownList("groupId", FilterViewModel.Groups, "-- All --")
                    <br />
                </td>*@
                
                <td style="width:100px;">
                    <label class="block">Category</label>
                    @Html.TextBox("messageCategoryName", FilterViewModel.MessageCategoryName, new { @class = "short" })
                    <br />
                </td>
                <td style="width:140px;">
                    <label class="block">Headline</label>
                    @Html.TextBox("subject", FilterViewModel.Title, new { @class = "short" })
                    <br />
                </td>
                <td style="width:400px;">
                    <label class="block">Message</label>
                    @Html.TextBox("messageText", FilterViewModel.MessageText)
                    <br />
                </td>

                 @*<td style="width:130px;">
                    <label class="block">Valid From</label>
                    @Html.EditorFor(model => model.FilterViewModel.ValidFrom, "", "validFrom")
                    <br />
                    @Html.ValidationMessageFor(model => model.FilterViewModel.ValidFrom)
                </td>*@

                <td style="width:130px;">
                    <label class="block">Valid At</label>
                    @Html.EditorFor(model => model.FilterViewModel.ValidTo, "", "validTo")
                    <br />
                    @Html.ValidationMessageFor(model => model.FilterViewModel.ValidTo)
                </td>

                <td style="width:100px;">
                    <label class="block">Target</label>
                    @Html.TextBox("busNumber", FilterViewModel.BusNumber, new { @class = "short", maxlength = "15" })
                    <br />
                    @Html.ValidationMessageFor(model => model.FilterViewModel.BusNumber)
                </td>

                <td style="width:100px;">
                    <label class="block">Sender</label>
                    @Html.TextBox("senderName", FilterViewModel.SenderName, new { @class = "short" })
                    <br />
                </td>
                 <td align="center" style="width:40px;">
                    <label class="block">Expired</label>                   
                    <input type="checkbox" name="showExpiredOnly" value="true" @(FilterViewModel.ShowExpiredOnly == true ? "checked='checked'" : "") />  
                 </td>
                <td valign="bottom">     
                    <input type="submit" value="Search" style="margin-top: 30px;"  />
                </td>
            </tr>
        </table> 
       
    </div>
       
   }<!--end html form-->
    <!-- Search Filters - End --> 


    
    <!-- Searched Results - start -->   

    @{
        var grid = Html.Grid(Model.PagedList)
                    .Columns(
                        column =>
                        {
                            //column.Custom(@<input type="checkbox" name="selectedMsgs" value="@item.MessageId" />);
                            //column.For(c => c.GroupName).Named("Group");                            
                            column.For(c => c.CategoryName).Named("Category").Attributes(width => "100px");
                            column.For(c => c.Subject).Named("Headline").Attributes(width => "120px");
                            column.For(c => IBI.Shared.AppUtility.TrimText(c.MessageText, 40)).Named("Message").SortColumnName("MessageText").Attributes(width => "200px");
                            column.For(c => c.ValidFrom).Named("Valid From").Format("{0:" + Settings.DateTimeFormat + "}").Attributes(width => "100px");
                            column.For(c => c.ValidTo).Named("Valid To").Format("{0:" + Settings.DateTimeFormat + "}").Attributes(width => "100px");                            
                            //column.Custom().Named("Target").Attributes(width => "70px");
                            column.Custom(x=> IBI.Shared.AppUtility.TrimText(IBI.Shared.AppUtility.ListToCommaValues(x.Buses), 30)).Named("Target").Attributes(width => "70px");
                            column.For(c => c.SenderName).Named("Sender").Attributes(width => "100px");
                            column.Custom(@<a href="AddEdit?customerId=@item.CustomerId&busNumber=0&messageId=@item.MessageId" style='cursor: hand; cursor:pointer; display: @(item.Editable==true ? "inline" : "none");'>Edit</a>).Named("").Attributes(width => "30px");
                            //column.Custom(@<a href="javascript:void(0);" onclick="EditMessage('@item.CustomerId', '0', '@item.MessageId')" style="cursor: hand; cursor:pointer ;">Edit</a>).Named("").Attributes(width => "30px");
                            column.Custom(@<a href="javascript:void(0);" onclick="RemoveMessage('@item.MessageId')" style='display: @(item.Editable==true ? "inline" : "none");'><img src="../Content/template/images/delete.png" title="Make expire" /></a>).Named("").CellCondition(c => c.ValidTo > DateTime.Now).Attributes(width => "30px");
                            column.Custom(@<a href="javascript:void(0);" onclick="ViewConfirmations('@item.MessageId','@item.Subject')" style='display:inline'><img src="../Content/template/images/img.png" title="View Confirmation" /></a>).Named("").Attributes(width => "30px");
                        }
                    )
                    .Sort(Model.GridSortOptions)
                    .Attributes(@class => "table-list")
                    .Empty("<div class='no-data'>There are no outgoing messages available</div>");

     }



       

     @{
     
        <div id="searchedResults">
            @grid 
        </div>
             
         Html.RenderPartial("Pager", PagedList);
           
      }

        @(Html.Kendo().Window()
            .Visible(false)
            .Name("MessageConfirmationsAndReplies")
            .Modal(true)
            .Scrollable(false)
            .Draggable()
            .Width(800)
            .Height(500)
        )
    
    <script>
        function CloseWindow() {
            window.$("#MessageConfirmationsAndReplies").data("kendoWindow").close();
        }

        function ViewConfirmations(MessageId,Subject) {

            var window = $("#MessageConfirmationsAndReplies").data("kendoWindow");
            window.title(false);
            $("#MessageConfirmationsAndReplies").parent().css("padding-top", "0px");

            $("#MessageConfirmationsAndReplies").css("overflow", "hidden");
            $("#MessageConfirmationsAndReplies").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                url: "MessageConfirmationsNReplies",
                data: {
                    MessageId: MessageId,
                    messageTitle: Subject
                }
            });
        } 


        function NewMessage(custId, bNo) {

            var window = $("#NewMessageWindow").data("kendoWindow");

            $("#NewMessageWindow").css("overflow", "hidden");
            $("#NewMessageWindow").css("background-color", "#ddd");

            window.center().open().title("New Message for Bus no: " + bNo).refresh({
                url: "../Message/IndexNew",
                data:
            {
                customerId: custId,
                busNumber: bNo,
                messageId: 0
            }
            });
    }

    function EditMessage(custId, bNo, id) {

        var window = $("#NewMessageWindow").data("kendoWindow");

        $("#NewMessageWindow").css("overflow", "hidden");
        $("#NewMessageWindow").css("background-color", "#ddd");

        window.center().open().title("Edit Message for Bus no: " + bNo).refresh({
            url: "../Message/IndexNew",
            data:
            {
                customerId: custId,
                busNumber: bNo,
                messageId: id
            }
        });
    }

    function RemoveMessage(id) {

        if (confirm("Are you sure to expire this message?")) 
        { 
            
            //raise post back and call a server side function.
                        
            var request = $.get('../Message/SetExpireMessage?messageId=' + id);

            request.success(function (result) {
                //alert(result);

                //repopulate grid.
                beginHtmlSubmit();

            });

            request.error(function(jqXHR, textStatus, errorThrown) {
                if (textStatus == 'timeout')
                    alert('Cannot set expirty for this message, The server is not responding at the moment.');

                if (textStatus == 'error')
                    alert('Message cannot be set expired at the moment. ' + errorThrown); 
            });
                     
        }//end if  
    }//end RemoveMessage()

    </script>
       
        @(Html.Kendo().Window()
            .Visible(false)
            .Name("NewMessageWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Message Editor")
            .Draggable()
            .Width(700)
            .Height(700)
        )
    <!-- Searched Results - end -->   


