﻿@model  IBI.Shared.Models.Messages.MessageConfirmationsAndReplys
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message Confirmation And Replies</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#showreplies").change(OnClickShowReplies);
            $("#showConfirmations").change(OnClickShowConfirmations);
            $('.tbDisplayConfirmationsAndReplies').tablesorter({
                widgets: ['zebra', 'columns'],
                usNumberFormat: false,
                sortReset: true,
                sortRestart: true
            });
        });
        function OnClickShowReplies(e) {
            if ($(this).is(':checked')) {
                var MessageId = $("#MessageId").val();
                var busNumber = $("#filterBusNumber").val();
                $.ajax({
                    url: "../Message/MessageReplies",
                    type: "post",
                    data: {
                        MessageId: MessageId,
                        busNumber: busNumber
                    }
                })
                .done(function (data) {
                    $("#MessageReplies").html(data);
                });
            }
            else {
                $("#MessageReplies").html("");

            }
            return false;
        }
        function OnClickShowConfirmations(e) {
            if ($(this).is(':checked')) {
                var MessageId = $("#MessageId").val();
                var busNumber = $("#filterBusNumber").val();
                $.ajax({
                    url: "../Message/MessageConfirmations",
                    type: "post",
                    data: {
                        MessageId: MessageId,
                        busNumber: busNumber
                    }
                })
                .done(function (data) {
                    $("#DisplayedConfirmations").html(data);
                });
            }
            else {
                $("#DisplayedConfirmations").html("");
            }
            return false;
        }
    </script>
</head>
<body>
    <div>
        <br />
            <div id="DisplayedConfirmations" style="overflow-y: scroll;max-height: 159px;background-color:#efefef;">
                @{
                    @Html.Partial("PartialDisplayedConfirmations", Model.MessageDisplayConfirmations)
                }
            </div>
            <br />
            <div id="MessageReplies" style="overflow-y: scroll;max-height: 239px;background-color:#efefef;">
                @{
                    @Html.Partial("PartialMessageReplies", Model.ReplysMessages)
                }
            </div>
    </div>
</body>
</html>
