﻿@model IBI.Web.ViewModels.Messaging.MessageEditModel
@using Kendo.Mvc.UI
@using IBI.Web.Common


@{
    ViewBag.Title = "Mermaid IBI - Bus Map";
    Layout = null; //"~/Views/Shared/_Layout.cshtml"; //null;
}

<!DOCTYPE html>

<html>
<head>
    <title>BusMap</title>
    <meta charset="utf-8">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/general.css")" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
@*    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>*@


	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syncopate" />
	<script src="https://maps.googleapis.com/maps/api/js?client=gme-mermaidas&v=3.17"></script>
	<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>




  @*  <style type="text/css">
        .Table
        {
            display: table;
        }
        .Title
        {
            display: table-caption;
            text-align: left;
            font-weight: bold;
            font-size:medium;
        }
        .Heading
        {
            display: table-row;
            font-weight: bold;
            text-align: center;
        }
        .Row
        {
            display: table-row;
            width: 900px;
        }
        .Cell
        {
            display: table-cell;
            border: solid;
            border-width: thin;
            padding-left: 5px;
            padding-right: 5px;
            width: 450px;
        }


        .BUS_RED {
            background-color: #FF4D4D;
            width: 16px;
            height: 16px;
            display: inline-block;
            border: solid 1px #787878;
            border-radius: 3px;
         }

        .BUS_GREEN {
            background-color: #00A800;
            width: 16px;
            height: 16px;
            display: inline-block;
            border: solid 1px #787878;
            border-radius: 3px;
         }

        .CounterBox {
            margin-right: 4px;
            margin-left: 3px;
            font-weight: bold;
            text-align: right;
            width: 20px;
            display: inline-block;
            vertical-align: top;
        }
        .notransition {
          -webkit-transform:none !important;
          transform:none !important;
          position:static !important;
        }


    </style>*@







    										  
	<style type="text/css">


		/*UL {
			list-style: outside disc;
			margin-left: 1em;
		}
		UL LI {
			position: relative;
			left: 1em;
			padding-right: 1em;    
		}​*/



		.TableCell
		{
			padding-left: 5px;
			padding-right: 5px;
			height: 15px;
			overflow-x:hidden;
			max-width: 160px;
		}
		.TableHeading
		{
			padding-left: 5px;
			padding-right: 5px;
			text-align: left;
			font-weight: bold;
			height: 15px;
			overflow-x:hidden;
		}
		.InfoTable
		{
			width: 240px;
		}
		.CellText
		{
			padding-left: 5px;
			padding-right: 5px;
			height: 17px;
			width: 140px;
			text-align: left;
			font-weight: bold;
			overflow-x:hidden;
		}

		.Table
		{
			display: table;
		}
		.Title
		{
			display: table-caption;
			text-align: left;
			font-weight: bold;
			font-size:medium;
			overflow-x:hidden;
		}
		.Heading
		{
			display: table-row;
			font-weight: bold;
			width: 300px;
			overflow-x:hidden;
		}
		.Row
		{
			display: table-row;
			width: 300px;
			overflow-x:hidden;
		}
		.HeadCell
		{
			display: table-cell;
			/*border: solid;*/
			border-width: thin;
			padding-left: 5px;
			padding-right: 5px;
			width: 50px;
			overflow-x:hidden;
		}
		.Cell
		{
			display: table-cell;
			/*border: solid;*/
			border-width: thin;
			/*padding-left: 5px;*/
			/*padding-right: 5px;*/
			width: 50px;
			overflow-x:hidden;
		}
		.CellText
		{
			display: table-cell;
			/*border: solid;*/
			border-width: thin;
			/*padding-left: 5px;*/
			padding-right: 5px;
			width: 150px;
			overflow-x:hidden;
		}
		.CellCursor
		{
			padding-left: 5px;
			padding-right: 5px;
			height: 17px;
			text-align: left;
			font-weight: bold;
			overflow-x:hidden;
			cursor: pointer;
		}
		.CellCursorText
		{
			padding-left: 5px;
			padding-right: 5px;
			height: 17px;
			max-width: 126px;
			text-align: left;
			font-weight: bold;
			overflow-x:hidden;
			cursor: pointer;
		}
		.Holder
		{
			display:table-cell;
			width: 258px; 
			height: auto;
		}

		.schedulelist-container
		{
			height: 516px;
			overflow: auto;
		}

		.BUS_RED {
			background-color: #FF4D4D;
			width: 16px;
			height: 16px;
			display: inline-block;
			border: solid 1px #787878;
			border-radius: 3px;
		 }

		.BUS_GREEN {
			background-color: #00A800;
			width: 16px;
			height: 16px;
			display: inline-block;
			border: solid 1px #787878;
			border-radius: 3px;
		 }

		.CounterBox {
			margin-right: 4px;
			margin-left: 3px;
			font-weight: bold;
			text-align: right;
			width: 20px;
			display: inline-block;
			vertical-align: top;
		}

		 .Infobox {
					border: solid 1px black;
					background-color:rgba(255, 255, 255, 0.80);
					/*width: 250px;*/
					color: #000;
					/*font-family: Arial;*/
					font-family:"Lucida Grande", "Arial", sans-serif;
					font-size: 12px;
					padding: .5em 1em;
					border-radius: 10px;
					margin-left: -30px;
					margin-top: -6px
		  }

			  /*CODA TIP Styles*/ 
			.bubbleInfo {
				position: relative;
			   /* top: 150px;
				left: 100px;
				width: 500px;*/
			}
			.trigger {
			/*position: absolute; display:inline;*/
		}

	</style>

	<style type="text/css">
		/*.labels {
		color: black;
		font-family: "Lucida Grande", "Arial", sans-serif;
		font-size: 11px;
		font-weight: bold;
		text-align: center;

	  }*/

	  
	  .greenlabels {
		color:green;
		font-family: "Lucida Grande", "Arial", sans-serif;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		padding-top: 5px;
		width: 40px;
		height: 40px;
		background-image:url("../Images/busmap/busgreenblank.png");
		background-repeat: no-repeat;
	  }
	  
	  .greenlabelslarge {
		color:green;
		font-family: "Lucida Grande", "Arial", sans-serif;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		padding-top: 5px;
		width: 62px;
		height: 40px;
		background-image:url("../Images/busmap/busgreenblank_wide.png");
		background-repeat: no-repeat;
	  }

	  #container
	  {
		height:36px;
		width:36px;
		position:relative;
	  }
	  #image
	  {    
		position:absolute;
		left:0;
		top:0;
	  }
	  #text
	  {
		z-index:1;
		position:absolute;    
		color:white;
		font-size:11px;
		font-weight:bold;
		text-align: center;
		left:14px;
		top:38px;
	  }
	  .highlight { background-color: yellow }

	  .notransition {
          -webkit-transform:none !important;
          transform:none !important;
          position:static !important;
        }
	</style>





    <script>

        var map;
        var currentBustaillength;
        var initialLocation;
        var lastAjaxCall;

        // Read a page's GET URL variables and return them as an associative array.
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        $(document).ready(function () {

            var tailLength = getUrlVars()["tailLength"];
            var mapPosition = getUrlVars()["mapPosition"];
            var zoomLevel = getUrlVars()["zoom"];

            zoomLevel = (zoomLevel != null && isNumber(zoomLevel) ? parseInt(zoomLevel) : 6);
            currentBustaillength = ((tailLength != null) && isNumber(tailLength) ? parseInt(tailLength) : 0);

            var mapLatlng = new google.maps.LatLng(56.940854, 6.921387);

            if (mapPosition != null)
            {
                var tempLatlng = mapPosition.split(',')
                if (tempLatlng != null && tempLatlng.length == 2) {
                    if (tempLatlng[0] != null && tempLatlng[1] != null && isNumber(tempLatlng[0]) && isNumber(tempLatlng[1])) {
                        mapLatlng = new google.maps.LatLng(parseFloat(tempLatlng[0]), parseFloat(tempLatlng[1]));
                    }
                }
            }

            var myOptions = {
                zoom: zoomLevel,
                center: mapLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            }


            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            clearMap();
            loadBuses();
            $("#map_canvas").addClass("notransition");
        });

        //Time between marker refreshes
        var INTERVAL = 25000;
        var currentTimer;

        //Used to remember markers
        var stopMarkerStore = {};

        var oldOnline;
        var oldOffline;
        var oldFilter;

        function BusInfo(busNumber, name, position, marker, positionPath, positionHistory) {
            this.id = busNumber;
            this.name = name;
            this.position = position;
            this.marker = marker;
            this.positionPath = positionPath;
            this.positionHistory = positionHistory;
            this.visible = true;
        }

        var busStorage = {};

        var polyOptions = {
            strokeOpacity: 1.0,
            strokeWeight: 2
        };
               

        function loadBuses() {
            /*
                var url = "../Example/GetUserSpecificBusesData";
                $.get(url, {}, function (res, resp) {
                    importBuses(res);
                    currentTimer = window.setTimeout(loadBuses, INTERVAL);
                }, "json");
            */
            var group = getUrlVars()["groupId"];
            group = ((group != null) && isNumber(group) ? parseInt(group) : 0);

            var busNumber = getUrlVars()["busNumber"];
            busNumber = ((busNumber != null) ? busNumber : '');


            var url = "../Example/GetUserSpecificBusesData";

            if (lastAjaxCall != null) { lastAjaxCall.abort(); lastAjaxCall = null; }
            lastAjaxCall = $.post(url, { groupId: group, busNumber: busNumber })
			  .done(function (res) {
			      importBuses(res);
			      currentTimer = window.setTimeout(loadBuses, INTERVAL);
			  }, "json")
			  .fail(function (xhr, textStatus, errorThrown) {
			      currentTimer = window.setTimeout(loadBuses, 60 * 1000);
			  });
        }

        function importBuses(buses) {
            console.log(buses.length + ' buses found');

            for (var i = 0, len = buses.length; i < len; i++) {
                var bus = buses[i];
                var busInfo = null;

                //Do we have this bus already?
                if (busStorage.hasOwnProperty(bus.BusNumber)) {
                    busInfo = busStorage[bus.BusNumber];

                    busInfo.visible = !isFiltered(busInfo);

                    var oldPosition = busInfo.position;
                    var newPosition = new google.maps.LatLng(bus.Position.lat, bus.Position.long);

                    //Only update if marker has moved to avoid flickering on the map
                    //if (!oldPosition.equals(newPosition)) {
                    //    busInfo.position = newPosition;

                    //    if (busInfo.positionHistory.length == 50) {
                    //        busInfo.positionHistory.shift();
                    //    }

                    //    busInfo.positionHistory.push(busInfo.position);

                    //    if (busInfo.visible) {
                    //        busInfo.marker.setPosition(busInfo.position);
                    //        busInfo.positionPath.setPath(busInfo.positionHistory);
                    //    }
                    //}
                    if (!oldPosition.equals(newPosition)) {

                        busInfo.position = newPosition;
                        var templength = currentBustaillength;
                        if (busInfo.positionHistory.length > templength) {
                            var indx = busInfo.positionHistory.length - templength
                            busInfo.positionHistory = busInfo.positionHistory.slice(indx, busInfo.positionHistory.length);
                        }
                        busInfo.positionHistory.push(busInfo.position);
                        if (busInfo.visible) {
                            busInfo.marker.setPosition(busInfo.position);
                            busInfo.positionPath.setPath(busInfo.positionHistory);
                        }
                    }
                }
                else {
                    busInfo = createBusInfo(bus);
                    busInfo.visible = !isFiltered(busInfo);

                    busStorage[bus.BusNumber] = busInfo;
                }

                if (busInfo.visible) {
                    if (busInfo.marker.getMap() == null)
                        busInfo.marker.setMap(map);

                    if (currentBustaillength > 0) {
                        if (busInfo.positionPath.getMap() == null)
                            busInfo.positionPath.setMap(map);
                    }
                    else {
                        busInfo.positionPath.setMap(null);
                    }
                }
                else {
                    busInfo.marker.setMap(null);
                    busInfo.positionPath.setMap(null);
                }
            }
        }

        function createBusInfo(bus) {
            var position = new google.maps.LatLng(bus.Position.lat, bus.Position.long);

            var positionHistory = [];
            positionHistory.push(position);

            polyOptions.strokeColor = getRandomColor();

            var positionPath = new google.maps.Polyline(polyOptions);
            //positionPath.setMap(map);

            var busInfo = new BusInfo(bus.BusNumber, bus.BusNumber, position, getMarker(bus), positionPath, positionHistory);

            return busInfo;
        }

        function isFiltered(bus) {
            return false;
            //var busFilter = document.getElementById('txtBusFilter').value.split(',');
            //busFilter = busFilter.filter(function (e) { return e });

            //if (busFilter == null || busFilter.length == 0) {
            //    return false;
            //}

            //console.log("Applying filter");

            //console.log(busFilter);

            //return (busFilter.indexOf(bus.id) == -1);

            
        }

        function reloadMap() {
            window.clearTimeout(currentTimer);

            loadBuses();
        }

        //function getMarker(bus) {
        //    var markerColor = 'C6EF8C';

        //    if (!bus.Online)
        //        markerColor = 'F90404';

        //    var pinImage = new google.maps.MarkerImage('http://chart.apis.google.com/chart?chst=d_bubble_icon_text_small&chld=bus|bb|' + bus.BusNumber + '|' + markerColor + '|000000',
        //                                               null, //Image size is dynamic
        //                                               null, //Not sure what 'origin' is
        //                                               new google.maps.Point(0, 42)); // The point in the image that illustrates the actual gps position ("where the arrow points")

        //    var marker = new google.maps.Marker({
        //        position: new google.maps.LatLng(bus.Position.lat, bus.Position.long),
        //        map: null,
        //        icon: pinImage
        //    });

        //    return marker;
        //}

        function getMarker(bus) {
            var img;
            var marker;
            var label;
            var labelcont;
            var imagesize;

            var pinImage

            if (bus.BusNumber <= 9999)
            {
                img = '../Images/busmap/busgreenblank.png';
                label ="greenlabels";
                labelcont = new google.maps.Point(20, 35);
                imagesize = new google.maps.Size(40, 40);
                pinImage = new google.maps.MarkerImage(img,
						imagesize, //Image size is dynamic
						null, //Not sure what 'origin' is
						new google.maps.Point(20, 35)); // The point in the image that illustrates the actual gps position ("where the arrow points")

            }
            else
            {
                img = '../Images/busmap/busgreenblank_wide.png';
                label = "greenlabelslarge";
                labelcont = new google.maps.Point(31, 35);
                imagesize = new google.maps.Size(40, 62);
                pinImage = new google.maps.MarkerImage(img,
						imagesize, //Image size is dynamic
						null, //Not sure what 'origin' is
						new google.maps.Point(31, 35)); // The point in the image that illustrates the actual gps position ("where the arrow points")
            }
            
            marker = new MarkerWithLabel({
                map: null,
                position: new google.maps.LatLng(bus.Position.lat, bus.Position.long),
                icon: pinImage,
                labelContent: bus.BusNumber,
                labelAnchor: labelcont,
                labelClass: label,
                marker: MarkerWithLabel,
                labelInBackground: false,
                zIndex: 1,
            });

            return marker;
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.round(Math.random() * 15)];
            }
            return color;
        }
       
        function clearMap() {
            console.log('Clearing map');

            Object.keys(this.busStorage).forEach(function (key) {
                var busInfo = this.busStorage[key]

                busInfo.marker.setMap(null);
                busInfo.positionPath.setMap(null);
            })

            this.busStorage = {};
        }


    </script>
</head>
<body>
     <div id="map_canvas" style="float: left; width: 100%; height: 656px;vertical-align:top"></div>
</body>
</html>
